https://realpython.com/pandas-merge-join-and-concat/

In [1]:
# what do we do if library doesn't exist??
!pip install faker

Requirement already satisfied: faker in /Users/tej/opt/anaconda3/lib/python3.8/site-packages (8.13.2)
Requirement already satisfied: text-unidecode==1.3 in /Users/tej/opt/anaconda3/lib/python3.8/site-packages (from faker) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in /Users/tej/opt/anaconda3/lib/python3.8/site-packages (from faker) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/tej/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.4->faker) (1.15.0)

In [2]:
from faker import Faker
import pandas as pd
import random

In [3]:
f = Faker()

df1 = pd.DataFrame({
    'id': ['st_' + str(i) for i in range(0, 20)],
    'name': [f.name() for _ in range(0,20)],
    'email' : [f.email() for _ in range(0,20)]
})

In [4]:
df1

       id                name                             email
0    st_0    Justin Henderson          kathrynandrade@yahoo.com
1    st_1           Renee Cox         craigodonnell@collins.com
2    st_2       Anthony Baker                 tina19@kelley.com
3    st_3       Jennifer Mata              wjenkins@hotmail.com
4    st_4       Teresa Parker                    wfry@gmail.com
5    st_5     Steven Sandoval             aroberson@hotmail.com
6    st_6       Tyler Shepard         suarezphillip@hotmail.com
7    st_7      Heidi Phillips              gibsonrobin@lee.info
8    st_8        Monica Henry     mwiggins@cisneros-harris.info
9    st_9  Jacqueline Simmons               brian54@carroll.com
10  st_10     Melanie Morales  debrarichardson@flores-carr.info
11  st_11         Edwin Davis                 usmith@wagner.net
12  st_12    Debra Patton DVM  karenreynolds@mcdonald-white.biz
13  st_13      Jeffrey Nelson     victorhardy@spence-meyer.info
14  st_14    Denise Hicks DVM            fryebrittany@gmail.com
15  st_15       Robert Flores                   hcole@gmail.com
16  st_16   Danielle Martinez         veronicamoore@hotmail.com
17  st_17       Joshua Molina                robert62@smith.com
18  st_18       Brianna Lyons           owall@shepard-myers.com
19  st_19      Charles Oliver           barbaracook@hotmail.com

In [5]:
count = 25

df2 = pd.DataFrame({
    'studentId': ['st_' + str(i) for i in range(5, count)],
    'grade1': [random.randint(50, 100) for _ in range(5,count)],
    'grade2': [random.randint(50, 100) for _ in range(5,count)],
    'grade3': [random.randint(50, 100) for _ in range(5,count)],
})

In [6]:
df2

   studentId  grade1  grade2  grade3
0       st_5      53      78      58
1       st_6      70      58      52
2       st_7      63      71      74
3       st_8      91      85      58
4       st_9      89      78      50
5      st_10      66      50      90
6      st_11      60      50      67
7      st_12      50      75      87
8      st_13      70      78      60
9      st_14      88      72     100
10     st_15      80      79      83
11     st_16      61      55      71
12     st_17      96      90      62
13     st_18      86      97      95
14     st_19      80      62      51
15     st_20      51      69      94
16     st_21      75      51      85
17     st_22     100      73      90
18     st_23      95      72      54
19     st_24      70      97      65

## Merge `df1` and `df2`: if students exist in both data frames

In [7]:
df_merged = None
#display('df1', 'df2, 'pd.merge(df1, df2)')
pd.merge(df1, df2,left_on="id", right_on="studentId")

,id,name,email,studentId,grade1,grade2,grade3
0,st_5,Steven Sandoval,aroberson@hotmail.com,st_5,53,78,58
1,st_6,Tyler Shepard,suarezphillip@hotmail.com,st_6,70,58,52
2,st_7,Heidi Phillips,gibsonrobin@lee.info,st_7,63,71,74
3,st_8,Monica Henry,mwiggins@cisneros-harris.info,st_8,91,85,58
4,st_9,Jacqueline Simmons,brian54@carroll.com,st_9,89,78,50
5,st_10,Melanie Morales,debrarichardson@flores-carr.info,st_10,66,50,90
6,st_11,Edwin Davis,usmith@wagner.net,st_11,60,50,67
7,st_12,Debra Patton DVM,karenreynolds@mcdonald-white.biz,st_12,50,75,87
8,st_13,Jeffrey Nelson,victorhardy@spence-meyer.info,st_13,70,78,60
9,st_14,Denise Hicks DVM,fryebrittany@gmail.com,st_14,88,72,100
10,st_15,Robert Flores,hcole@gmail.com,st_15,80,79,83
11,st_16,Danielle Martinez,veronicamoore@hotmail.com,st_16,61,55,71
12,st_17,Joshua Molina,robert62@smith.com,st_17,96,90,62
13,st_18,Brianna Lyons,owall@shepard-myers.com,st_18,86,97,95
14,st_19,Charles Oliver,barbaracook@hotmail.com,st_19,80,62,51

## Merge `df1` and `df2`: get all students from `df1` and get from `df2` if student exists on `df2`

In [8]:
df_merged = None
pd.merge(df1, df2,left_on="id", right_on="studentId", how='left')

,id,name,email,studentId,grade1,grade2,grade3
0,st_0,Justin Henderson,kathrynandrade@yahoo.com,NaN,NaN,NaN,NaN
1,st_1,Renee Cox,craigodonnell@collins.com,NaN,NaN,NaN,NaN
2,st_2,Anthony Baker,tina19@kelley.com,NaN,NaN,NaN,NaN
3,st_3,Jennifer Mata,wjenkins@hotmail.com,NaN,NaN,NaN,NaN
4,st_4,Teresa Parker,wfry@gmail.com,NaN,NaN,NaN,NaN
5,st_5,Steven Sandoval,aroberson@hotmail.com,st_5,53.0,78.0,58.0
6,st_6,Tyler Shepard,suarezphillip@hotmail.com,st_6,70.0,58.0,52.0
7,st_7,Heidi Phillips,gibsonrobin@lee.info,st_7,63.0,71.0,74.0
8,st_8,Monica Henry,mwiggins@cisneros-harris.info,st_8,91.0,85.0,58.0
9,st_9,Jacqueline Simmons,brian54@carroll.com,st_9,89.0,78.0,50.0
10,st_10,Melanie Morales,debrarichardson@flores-carr.info,st_10,66.0,50.0,90.0
11,st_11,Edwin Davis,usmith@wagner.net,st_11,60.0,50.0,67.0
12,st_12,Debra Patton DVM,karenreynolds@mcdonald-white.biz,st_12,50.0,75.0,87.0
13,st_13,Jeffrey Nelson,victorhardy@spence-meyer.info,st_13,70.0,78.0,60.0
14,st_14,Denise Hicks DVM,fryebrittany@gmail.com,st_14,88.0,72.0,100.0
15,st_15,Robert Flores,hcole@gmail.com,st_15,80.0,79.0,83.0
16,st_16,Danielle Martinez,veronicamoore@hotmail.com,st_16,61.0,55.0,71.0
17,st_17,Joshua Molina,robert62@smith.com,st_17,96.0,90.0,62.0
18,st_18,Brianna Lyons,owall@shepard-myers.com,st_18,86.0,97.0,95.0
19,st_19,Charles Oliver,barbaracook@hotmail.com,st_19,80.0,62.0,51.0

## Merge `df1` and `df2`: get all students from `df2` and get from `df1` if student exists on `df1`

In [9]:
df_merged = None
pd.merge(df1, df2,left_on="id", right_on="studentId", how='right')

,id,name,email,studentId,grade1,grade2,grade3
0,st_5,Steven Sandoval,aroberson@hotmail.com,st_5,53,78,58
1,st_6,Tyler Shepard,suarezphillip@hotmail.com,st_6,70,58,52
2,st_7,Heidi Phillips,gibsonrobin@lee.info,st_7,63,71,74
3,st_8,Monica Henry,mwiggins@cisneros-harris.info,st_8,91,85,58
4,st_9,Jacqueline Simmons,brian54@carroll.com,st_9,89,78,50
5,st_10,Melanie Morales,debrarichardson@flores-carr.info,st_10,66,50,90
6,st_11,Edwin Davis,usmith@wagner.net,st_11,60,50,67
7,st_12,Debra Patton DVM,karenreynolds@mcdonald-white.biz,st_12,50,75,87
8,st_13,Jeffrey Nelson,victorhardy@spence-meyer.info,st_13,70,78,60
9,st_14,Denise Hicks DVM,fryebrittany@gmail.com,st_14,88,72,100
10,st_15,Robert Flores,hcole@gmail.com,st_15,80,79,83
11,st_16,Danielle Martinez,veronicamoore@hotmail.com,st_16,61,55,71
12,st_17,Joshua Molina,robert62@smith.com,st_17,96,90,62
13,st_18,Brianna Lyons,owall@shepard-myers.com,st_18,86,97,95
14,st_19,Charles Oliver,barbaracook@hotmail.com,st_19,80,62,51
15,NaN,NaN,NaN,st_20,51,69,94
16,NaN,NaN,NaN,st_21,75,51,85
17,NaN,NaN,NaN,st_22,100,73,90
18,NaN,NaN,NaN,st_23,95,72,54
19,NaN,NaN,NaN,st_24,70,97,65

## Merge `df1` and `df2`: get both records

In [10]:
df_merged = None
pd.merge(df1, df2, left_on="id", right_on="studentId", how='outer')

,id,name,email,studentId,grade1,grade2,grade3
0,st_0,Justin Henderson,kathrynandrade@yahoo.com,NaN,NaN,NaN,NaN
1,st_1,Renee Cox,craigodonnell@collins.com,NaN,NaN,NaN,NaN
2,st_2,Anthony Baker,tina19@kelley.com,NaN,NaN,NaN,NaN
3,st_3,Jennifer Mata,wjenkins@hotmail.com,NaN,NaN,NaN,NaN
4,st_4,Teresa Parker,wfry@gmail.com,NaN,NaN,NaN,NaN
5,st_5,Steven Sandoval,aroberson@hotmail.com,st_5,53.0,78.0,58.0
6,st_6,Tyler Shepard,suarezphillip@hotmail.com,st_6,70.0,58.0,52.0
7,st_7,Heidi Phillips,gibsonrobin@lee.info,st_7,63.0,71.0,74.0
8,st_8,Monica Henry,mwiggins@cisneros-harris.info,st_8,91.0,85.0,58.0
9,st_9,Jacqueline Simmons,brian54@carroll.com,st_9,89.0,78.0,50.0
10,st_10,Melanie Morales,debrarichardson@flores-carr.info,st_10,66.0,50.0,90.0
11,st_11,Edwin Davis,usmith@wagner.net,st_11,60.0,50.0,67.0
12,st_12,Debra Patton DVM,karenreynolds@mcdonald-white.biz,st_12,50.0,75.0,87.0
13,st_13,Jeffrey Nelson,victorhardy@spence-meyer.info,st_13,70.0,78.0,60.0
14,st_14,Denise Hicks DVM,fryebrittany@gmail.com,st_14,88.0,72.0,100.0
15,st_15,Robert Flores,hcole@gmail.com,st_15,80.0,79.0,83.0
16,st_16,Danielle Martinez,veronicamoore@hotmail.com,st_16,61.0,55.0,71.0
17,st_17,Joshua Molina,robert62@smith.com,st_17,96.0,90.0,62.0
18,st_18,Brianna Lyons,owall@shepard-myers.com,st_18,86.0,97.0,95.0
19,st_19,Charles Oliver,barbaracook@hotmail.com,st_19,80.0,62.0,51.0
20,NaN,NaN,NaN,st_20,51.0,69.0,94.0
21,NaN,NaN,NaN,st_21,75.0,51.0,85.0
22,NaN,NaN,NaN,st_22,100.0,73.0,90.0
23,NaN,NaN,NaN,st_23,95.0,72.0,54.0
24,NaN,NaN,NaN,st_24,70.0,97.0,65.0