https://realpython.com/pandas-merge-join-and-concat/

In [3]:
# what do we do if library doesn't exist??
!pip install faker

Collecting faker
  Downloading Faker-8.13.2-py3-none-any.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 5.5 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.4 in /Users/tej/opt/anaconda3/lib/python3.8/site-packages (from faker) (2.8.1)
Collecting text-unidecode==1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 11.6 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Users/tej/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: text-unidecode, faker
Successfully installed faker-8.13.2 text-unidecode-1.3

In [4]:
from faker import Faker
import pandas as pd
import random

In [5]:
f = Faker()

df1 = pd.DataFrame({
    'id': ['st_' + str(i) for i in range(0, 20)],
    'name': [f.name() for _ in range(0,20)],
    'email' : [f.email() for _ in range(0,20)]
})

In [6]:
df1

       id                    name                              email
0    st_0  Mrs. Pamela Montgomery        christopherritter@yahoo.com
1    st_1            Judith Smith               sierra49@dalton.info
2    st_2           Angela Parker       lisa23@clayton-mcpherson.com
3    st_3             Kara Wright               moraleslori@rice.com
4    st_4   Mr. Andrew Russell MD               lopezdiane@yahoo.com
5    st_5        Katherine Duncan    wrightlatasha@dorsey-henson.com
6    st_6          Shaun Gonzalez              yvonneboyer@yahoo.com
7    st_7          Victoria Henry        jenniferpatterson@gmail.com
8    st_8           George Willis            brownjennifer@yahoo.com
9    st_9         Michael Morales          johnsoncynthia@horton.com
10  st_10          Tony Schneider         natalietran@young-chen.com
11  st_11               Troy Khan            fmontgomery@hotmail.com
12  st_12           Annette Reyes    kelseywilson@vargas-salazar.com
13  st_13       Matthew Green PhD      cpatrick@sullivan-jackson.com
14  st_14            James Hooper            rachelcollier@leach.com
15  st_15            Lauren Meyer                 hmoody@andrews.biz
16  st_16         William Higgins          englishmichael@hunter.com
17  st_17         Teresa Bradford  christinegreene@hanna-morris.info
18  st_18            Audrey Hurst      davisalan@melendez-wright.org
19  st_19                Eric Lee          carrolldaniel@coleman.com

In [ ]:
count = 25

df2 = pd.DataFrame({
    'studentId': ['st_' + str(i) for i in range(5, count)],
    'grade1': [random.randint(50, 100) for _ in range(5,count)],
    'grade2': [random.randint(50, 100) for _ in range(5,count)],
    'grade3': [random.randint(50, 100) for _ in range(5,count)],
})

In [ ]:
df2

## Merge `df1` and `df2`: if students exist in both data frames

In [ ]:
df_merged = None
df_merged

## Merge `df1` and `df2`: get all students from `df1` and get from `df2` if student exists on `df2`

In [ ]:
df_merged = None
df_merged

## Merge `df1` and `df2`: get all students from `df2` and get from `df1` if student exists on `df1`

In [ ]:
df_merged = None
df_merged

## Merge `df1` and `df2`: get both records

In [ ]:
df_merged = None
df_merged