![sql](img/sql-logo.jpg)

# A beginner's guide to databases, SQL, & using them with `pandas`

**Scenario:** You are a data analyst for the Homeland Security, trying to create reports on the active airports world wide. The data you need to access is in a SQL database. YOu need to be able to query for the data in a database!

## Learning goals:
- Goal 1: Summarize the use case for sql in the data science skill set
- Goal 2: Define key sql terminology
- Goal 3: Get information about DB schema and table structure
- Goal 4: Use basic SQL commands:
    - Construct SQL queries
    - Use `JOIN` to merge tables along logical columns
    - Grouping Data with SQL, inlcuding `HAVING`
- Goal 5: Convert SQL to pandas

## Goal 1: Summarize

To date the data we've seen has looked like [this.](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm)

That is how we need data to look to run analysis and build models.<br>
But it doesn't _live_ there in it's native state.

[Netflix has a great article](https://medium.com/netflix-techblog/notebook-innovation-591ee3221233) describing three different data roles at their company, their different needs, and their toolsets.

![netflix](img/netflix-data-roles.jpeg)

Examining that graphic, SQL shows up as one of the tools of the _Data Engineer_

Data Engineers provide the essential data architecture services that make data science possible.

![hierarchy](img/ai-hierachy.png)

[Source: Monica Rogati’s fantastic Medium post “The AI Hierarchy of Needs”
](https://hackernoon.com/the-ai-hierarchy-of-needs-18f111fcc007)

## What does it mean to **Engineer Data**?

Let's start with a basic scenario:<br>
You are HR. You have *no* current database. 
How would you set it up?

Data needs considerations:
- What you want to store
- What "views" you anticipate wanting in the future

Structure considerations:
- Speed of retrieval
- How much data you are accessing
- How much you are storing

![etl](img/etl.png)

[img source: Jeff Hammerbacher’s slide from UC Berkeley CS 194 course ](https://bcourses.berkeley.edu/courses/1377158/pages/cs-194-16-introduction-to-data-science-fall-2015)

### What is a Relational Database? 

![rdb](img/relational-dbms-model.png)
[reference for image ](https://www.studytonight.com/dbms/database-model.php)

### POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

***
### SQL

[History of SQL](https://www.businessnewsdaily.com/5804-what-is-sql.html)

> Future users of large data banks must be protected from having to know how the data is organized in the machine (the internal representation). A prompting service which supplies such information is not a satisfactory solution. Activities of users at terminals and most application programs should remain unaffected when the internal representation of data is changed and even when some aspects of the external representation are changed. Changes in data representation will often be needed as a result of changes in query, update, and report traffic and natural growth in the types of stored information.
.
.
.<br>
<br>
In Section 1 a relational model of data is proposed as a basis for protecting users of formatted data systems from the potentially disruptive changes in data representation caused by growth in the data bank and changes in traffic.

[The original SQL paper from the 1970s.](https://www.seas.upenn.edu/~zives/03f/cis550/codd.pdf)

***
## Goal 2: Database terminology

### Relational Database Schema

![schema](img/MySQL_Schema_Music_Example.png)

[source of image](https://database.guide/what-is-a-database-schema/)

***
### SQLite

<img src="img/SQLite-Python.jpg" width=500>

"SQLite is a C library that provides a lightweight disk-based database that doesn’t require a separate server process and allows accessing the database using a nonstandard variant of the SQL query language. Some applications can use SQLite for internal data storage. It’s also possible to prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle." - [sqlite documentation](https://docs.python.org/2/library/sqlite3.html)

## But what about connecting to database servers?

To connect to other database types there are many different libraries:
- Oracle: [cx_Oracle](https://oracle.github.io/python-cx_Oracle/)
- MySQL: [MySQL-python](https://github.com/farcepest/MySQLdb1)
- PostgreSQL: [Psycopg2](http://initd.org/psycopg/docs/)
- Microsoft SQL Server: [pymssql](http://www.pymssql.org/en/stable/)

These all implement [PEP 249: DB API v2](https://www.python.org/dev/peps/pep-0249/)

### The Structure of a SQL Query

<img src='img/sql_statement.jpg'/>

***
## Goal 3: Get going with sqlite!

In [1]:
import sqlite3

#### Load a DB object with `connect` and `cursor`

In [2]:
con = sqlite3.connect('data/flights.db')
cursor = con.cursor()

#### Use sqlite_master to find all the tables in the schema
Get the schema of a database from a db in sqlite

In [3]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('airports',), ('airlines',), ('routes',)]

In [4]:
cursor.description

(('name', None, None, None, None, None, None),)

In [5]:
cursor.execute("SELECT name, type FROM sqlite_master;")
print(cursor.fetchall())

[('airports', 'table'), ('ix_airports_index', 'index'), ('airlines', 'table'), ('ix_airlines_index', 'index'), ('routes', 'table'), ('ix_routes_index', 'index')]

In [6]:
cursor.execute("SELECT * FROM sqlite_master;")
results = cursor.fetchall()
for res in results:
    print(res)

('table', 'airports', 'airports', 2, 'CREATE TABLE airports (\n[index] INTEGER,\n  [id] TEXT,\n  [name] TEXT,\n  [city] TEXT,\n  [country] TEXT,\n  [code] TEXT,\n  [icao] TEXT,\n  [latitude] TEXT,\n  [longitude] TEXT,\n  [altitude] TEXT,\n  [offset] TEXT,\n  [dst] TEXT,\n  [timezone] TEXT\n)')
('index', 'ix_airports_index', 'airports', 3, 'CREATE INDEX ix_airports_index ON airports ([index])')
('table', 'airlines', 'airlines', 945, 'CREATE TABLE airlines (\n[index] INTEGER,\n  [id] TEXT,\n  [name] TEXT,\n  [alias] TEXT,\n  [iata] TEXT,\n  [icao] TEXT,\n  [callsign] TEXT,\n  [country] TEXT,\n  [active] TEXT\n)')
('index', 'ix_airlines_index', 'airlines', 946, 'CREATE INDEX ix_airlines_index ON airlines ([index])')
('table', 'routes', 'routes', 1393, 'CREATE TABLE routes (\n[index] INTEGER,\n  [airline] TEXT,\n  [airline_id] TEXT,\n  [source] TEXT,\n  [source_id] TEXT,\n  [dest] TEXT,\n  [dest_id] TEXT,\n  [codeshare] TEXT,\n  [stops] TEXT,\n  [equipment] TEXT\n)')
('index', 'ix_routes_index', 'routes', 1394, 'CREATE INDEX ix_routes_index ON routes ([index])')

#### Get information about one table

**A note about** `execute`<br>
Each time you use it, you reset the value of cursor

In [7]:
cursor.execute("SELECT * FROM airports").fetchone()

(0,
 '1',
 'Goroka',
 'Goroka',
 'Papua New Guinea',
 'GKA',
 'AYGA',
 '-6.081689',
 '145.391881',
 '5282',
 '10',
 'U',
 'Pacific/Port_Moresby')

In [8]:
cursor.execute("SELECT * FROM routes").fetchone()

(0, '2B', '410', 'AER', '2965', 'KZN', '2990', None, '0', 'CR2')

In [9]:
cursor.fetchone()

(1, '2B', '410', 'ASF', '2966', 'KZN', '2990', None, '0', 'CR2')

In [10]:
cursor.fetchmany(4)

[(2, '2B', '410', 'ASF', '2966', 'MRV', '2962', None, '0', 'CR2'),
 (3, '2B', '410', 'CEK', '2968', 'KZN', '2990', None, '0', 'CR2'),
 (4, '2B', '410', 'CEK', '2968', 'OVB', '4078', None, '0', 'CR2'),
 (5, '2B', '410', 'DME', '4029', 'KZN', '2990', None, '0', 'CR2')]

#### Use description

In [11]:
cursor.description

(('index', None, None, None, None, None, None),
 ('airline', None, None, None, None, None, None),
 ('airline_id', None, None, None, None, None, None),
 ('source', None, None, None, None, None, None),
 ('source_id', None, None, None, None, None, None),
 ('dest', None, None, None, None, None, None),
 ('dest_id', None, None, None, None, None, None),
 ('codeshare', None, None, None, None, None, None),
 ('stops', None, None, None, None, None, None),
 ('equipment', None, None, None, None, None, None))

#### Or use `Pragma`
`Pragma` tool [link here](https://www.sqlite.org/pragma.html#pragma_table_info)

**output**<br>
`(column id, column name, data type, whether or not the column can be NULL, and the default value for the column)`

In [12]:
cursor.execute("PRAGMA table_info(airports)")
info = cursor.fetchall()
info

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'id', 'TEXT', 0, None, 0),
 (2, 'name', 'TEXT', 0, None, 0),
 (3, 'city', 'TEXT', 0, None, 0),
 (4, 'country', 'TEXT', 0, None, 0),
 (5, 'code', 'TEXT', 0, None, 0),
 (6, 'icao', 'TEXT', 0, None, 0),
 (7, 'latitude', 'TEXT', 0, None, 0),
 (8, 'longitude', 'TEXT', 0, None, 0),
 (9, 'altitude', 'TEXT', 0, None, 0),
 (10, 'offset', 'TEXT', 0, None, 0),
 (11, 'dst', 'TEXT', 0, None, 0),
 (12, 'timezone', 'TEXT', 0, None, 0)]

#### Making fetch happen

`.fetchall()` is how you get the query results out of the object.

You can also `.fetchone()` or `.fetchmany()`

**Task:** Get the descriptive data for airlines and routes tables

In [13]:
cursor.execute("PRAGMA table_info(airlines)")
info = cursor.fetchall()
info

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'id', 'TEXT', 0, None, 0),
 (2, 'name', 'TEXT', 0, None, 0),
 (3, 'alias', 'TEXT', 0, None, 0),
 (4, 'iata', 'TEXT', 0, None, 0),
 (5, 'icao', 'TEXT', 0, None, 0),
 (6, 'callsign', 'TEXT', 0, None, 0),
 (7, 'country', 'TEXT', 0, None, 0),
 (8, 'active', 'TEXT', 0, None, 0)]

In [14]:
cursor.execute("SELECT * FROM airlines")
info =cursor.fetchall()
info

[(0, '1', 'Private flight', '\\N', '-', None, None, None, 'Y'),
 (1, '2', '135 Airways', '\\N', None, 'GNL', 'GENERAL', 'United States', 'N'),
 (2, '3', '1Time Airline', '\\N', '1T', 'RNX', 'NEXTIME', 'South Africa', 'Y'),
 (3,
  '4',
  '2 Sqn No 1 Elementary Flying Training School',
  '\\N',
  None,
  'WYT',
  None,
  'United Kingdom',
  'N'),
 (4, '5', '213 Flight Unit', '\\N', None, 'TFU', None, 'Russia', 'N'),
 (5,
  '6',
  '223 Flight Unit State Airline',
  '\\N',
  None,
  'CHD',
  'CHKALOVSK-AVIA',
  'Russia',
  'N'),
 (6,
  '7',
  '224th Flight Unit',
  '\\N',
  None,
  'TTF',
  'CARGO UNIT',
  'Russia',
  'N'),
 (7,
  '8',
  '247 Jet Ltd',
  '\\N',
  None,
  'TWF',
  'CLOUD RUNNER',
  'United Kingdom',
  'N'),
 (8, '9', '3D Aviation', '\\N', None, 'SEC', 'SECUREX', 'United States', 'N'),
 (9,
  '10',
  '40-Mile Air',
  '\\N',
  'Q5',
  'MLA',
  'MILE-AIR',
  'United States',
  'Y'),
 (10, '11', '4D Air', '\\N', None, 'QRT', 'QUARTET', 'Thailand', 'N'),
 (11,
  '12',
  '611897 Alberta Limited',
  '\\N',
  None,
  'THD',
  'DONUT',
  'Canada',
  'N'),
 (12,
  '13',
  'Ansett Australia',
  '\\N',
  'AN',
  'AAA',
  'ANSETT',
  'Australia',
  'Y'),
 (13, '14', 'Abacus International', '\\N', '1B', None, None, 'Singapore', 'Y'),
 (14, '15', 'Abelag Aviation', '\\N', 'W9', 'AAB', 'ABG', 'Belgium', 'N'),
 (15,
  '16',
  'Army Air Corps',
  '\\N',
  None,
  'AAC',
  'ARMYAIR',
  'United Kingdom',
  'N'),
 (16,
  '17',
  'Aero Aviation Centre Ltd.',
  '\\N',
  None,
  'AAD',
  'SUNRISE',
  'Canada',
  'N'),
 (17,
  '18',
  'Aero Servicios Ejecutivos Internacionales',
  '\\N',
  None,
  'SII',
  'ASEISA',
  'Mexico',
  'N'),
 (18, '19', 'Aero Biniza', '\\N', None, 'BZS', 'BINIZA', 'Mexico', 'N'),
 (19,
  '20',
  'Aero Albatros',
  '\\N',
  None,
  'ABM',
  'ALBATROS ESPANA',
  'Spain',
  'N'),
 (20, '21', 'Aigle Azur', '\\N', 'ZI', 'AAF', 'AIGLE AZUR', 'France', 'Y'),
 (21,
  '22',
  'Aloha Airlines',
  '\\N',
  'AQ',
  'AAH',
  'ALOHA',
  'United States',
  'Y'),
 (22,
  '23',
  'Alaska Island Air',
  '\\N',
  None,
  'AAK',
  'ALASKA ISLAND',
  'United States',
  'N'),
 (23,
  '24',
  'American Airlines',
  '\\N',
  'AA',
  'AAL',
  'AMERICAN',
  'United States',
  'Y'),
 (24,
  '25',
  'Aviation Management Corporation',
  '\\N',
  None,
  'AAM',
  'AM CORP',
  'United States',
  'N'),
 (25,
  '26',
  'Atlantis Airlines (USA)',
  '\\N',
  None,
  'AAO',
  'ATLANTIS AIR',
  'United States',
  'N'),
 (26,
  '27',
  'Aerovista Airlines',
  '\\N',
  None,
  'AAP',
  'AEROVISTA GROUP',
  'United Arab Emirates',
  'N'),
 (27,
  '28',
  'Asiana Airlines',
  '\\N',
  'OZ',
  'AAR',
  'ASIANA',
  'Republic of Korea',
  'Y'),
 (28, '29', 'Askari Aviation', '\\N', '4K', 'AAS', 'AL-AAS', 'Pakistan', 'Y'),
 (29,
  '30',
  'Australia Asia Airlines',
  '\\N',
  None,
  'AAU',
  'AUSTASIA',
  'Australia',
  'N'),
 (30,
  '31',
  'Astro Air International',
  '\\N',
  None,
  'AAV',
  'ASTRO-PHIL',
  'United States',
  'N'),
 (31,
  '32',
  'Afriqiyah Airways',
  '\\N',
  '8U',
  'AAW',
  'AFRIQIYAH',
  'Libya',
  'Y'),
 (32,
  '33',
  'Afrinat International Airlines',
  '\\N',
  'Q9',
  'AFU',
  None,
  'Gambia',
  'N'),
 (33,
  '34',
  "Afric'air Express",
  '\\N',
  None,
  'AAX',
  'AFREX',
  'Ivory Coast',
  'N'),
 (34,
  '35',
  'Allegiant Air',
  '\\N',
  'G4',
  'AAY',
  'ALLEGIANT',
  'United States',
  'Y'),
 (35, '36', 'Angus Aviation', '\\N', None, 'AAZ', 'ANGUS', 'Canada', 'N'),
 (36, '37', 'Artem-Avia', '\\N', None, 'ABA', 'ARTEM-AVIA', 'Ukraine', 'N'),
 (37,
  '38',
  'African Business and Transportations',
  '\\N',
  None,
  'ABB',
  'AFRICAN BUSINESS-',
  'Democratic Republic of the Congo',
  'N'),
 (38, '39', 'Aban Air', '\\N', 'K5', 'ABE', 'ABAN', 'Iran', 'n'),
 (39, '40', 'Aerial Oy', '\\N', None, 'ABF', 'SKYWINGS', 'Finland', 'N'),
 (40, '41', 'Abakan-Avia', '\\N', None, 'ABG', 'ABAKAN-AVIA', 'Russia', 'N'),
 (41,
  '42',
  'ABSA - Aerolinhas Brasileiras',
  '\\N',
  'M3',
  'TUS',
  'ABSA Cargo',
  'Brazil',
  'Y'),
 (42, '43', 'Abaet', '\\N', None, 'ABJ', 'Abaet', 'Brazil', 'N'),
 (43,
  '44',
  'Alberta Citylink',
  '\\N',
  None,
  'ABK',
  'ALBERTA CITYLINK',
  'Canada',
  'N'),
 (44,
  '45',
  'APSA Colombia',
  '\\N',
  None,
  'ABO',
  'AEROEXPRESO',
  'Colombia',
  'N'),
 (45,
  '46',
  'Aerovias Bueno',
  '\\N',
  None,
  'ABU',
  'AEROBUENO',
  'Colombia',
  'N'),
 (46,
  '47',
  'Aerocenter',
  '\\N',
  None,
  'ACR',
  ' Escuela de Formacion de Pioltos Privados de Avion',
  'AEROCENTER',
  'N'),
 (47, '48', 'Antrak Air', '\\N', '04', 'ABV', 'ANTRAK', 'Ghana', 'N'),
 (48,
  '49',
  'Airborne Express',
  '\\N',
  'GB',
  'ABX',
  'ABEX',
  'United States',
  'N'),
 (49, '50', 'ABX Air', '\\N', 'GB', 'ABX', 'ABEX', 'United States', 'N'),
 (50, '51', 'ATA Brasil', '\\N', None, 'ABZ', 'ATA-BRAZIL', 'Brazil', 'N'),
 (51,
  '52',
  'Avcard Services',
  '\\N',
  None,
  'ACC',
  None,
  'United Kingdom',
  'N'),
 (52,
  '53',
  'Academy Airlines',
  '\\N',
  None,
  'ACD',
  'ACADEMY',
  'United States',
  'N'),
 (53, '54', 'Aero Comondu', '\\N', None, 'ACO', 'AERO COMONDU', 'Mexico', 'N'),
 (54,
  '55',
  'Astral Aviation',
  '\\N',
  '8V',
  'ACP',
  'ASTRAL CARGO',
  'Kenya',
  'Y'),
 (55, '56', 'Air Cess', '\\N', None, 'ACS', None, 'Liberia', 'N'),
 (56,
  '57',
  'Air Aurora',
  '\\N',
  None,
  'AAI',
  'BOREALIS',
  'United States',
  'N'),
 (57,
  '58',
  'Air Cargo Transportation System',
  '\\N',
  None,
  'ACU',
  'AFRISPIRIT',
  'Kenya',
  'N'),
 (58,
  '59',
  'Air Charter Service',
  '\\N',
  None,
  'ACV',
  None,
  'United Kingdom',
  'N'),
 (59,
  '60',
  'Aero Asia International',
  '\\N',
  'E4',
  'RSO',
  'AERO ASIA',
  'Pakistan',
  'N'),
 (60, '61', 'Air Charters', '\\N', None, 'ACX', 'PARAIR', 'Canada', 'N'),
 (61, '62', 'Air Togo', '\\N', 'YT', 'TGA', 'AIR TOGO', 'Togo', 'N'),
 (62,
  '63',
  'Air Somalia',
  '\\N',
  None,
  'RSM',
  'AIR SOMALIA',
  'Somali Republic',
  'N'),
 (63,
  '64',
  'Atlas Cargo Lines',
  '\\N',
  None,
  'ACY',
  'ATLAS CARGOLINES',
  'Morocco',
  'N'),
 (64,
  '65',
  'Airservices Australia',
  '\\N',
  None,
  'ADA',
  'AUSCAL',
  'Australia',
  'N'),
 (65,
  '66',
  'Advance Leasing Company',
  '\\N',
  '4G',
  None,
  None,
  'United States',
  'N'),
 (66,
  '67',
  'Aztec Worldwide Airlines',
  '\\N',
  '7A',
  None,
  None,
  'United States',
  'N'),
 (67, '68', 'Air Tindi', '\\N', '8T', None, None, 'Canadian Territories', 'Y'),
 (68,
  '69',
  'Antonov Airlines',
  '\\N',
  None,
  'ADB',
  'ANTONOV BUREAU',
  'Ukraine',
  'N'),
 (69,
  '70',
  'Air Atlantic Dominicana',
  '\\N',
  None,
  'ADC',
  'ATLAN-DOMINICAN',
  'Dominican Republic',
  'N'),
 (70, '71', 'Advanced Air Co.', '\\N', None, 'ADD', None, 'Japan', 'N'),
 (71, '72', 'Ada Air', '\\N', 'ZY', 'ADE', 'ADA AIR', 'Albania', 'Y'),
 (72,
  '73',
  'Aerea Flying Training Organization',
  '\\N',
  None,
  'ADG',
  'AEREA TRAINING',
  'Spain',
  'N'),
 (73, '74', 'Audeli Air', '\\N', None, 'ADI', 'AUDELI', 'Spain', 'N'),
 (74, '75', 'Abicar', '\\N', None, 'ADJ', 'ABICAR', 'Ivory Coast', 'N'),
 (75, '76', 'ADC Airlines', '\\N', 'Z7', 'ADK', 'ADCO', 'Nigeria', 'N'),
 (76,
  '77',
  'Aero Dynamics',
  '\\N',
  None,
  'ADL',
  'COTSWOLD',
  'United Kingdom',
  'N'),
 (77,
  '78',
  'Aerolineas Dominicanas',
  '\\N',
  None,
  'ADM',
  'DOMINAIR',
  'Dominican Republic',
  'N'),
 (78,
  '79',
  'Aerodienst GmbH',
  '\\N',
  None,
  'ADN',
  'AERODIENST',
  'Germany',
  'N'),
 (79,
  '80',
  'Aerodiplomatic',
  '\\N',
  None,
  'ADP',
  'AERODIPLOMATIC',
  'Mexico',
  'N'),
 (80, '81', 'Aerodyne', '\\N', None, 'ADY', 'AERODYNE', 'United States', 'N'),
 (81, '82', 'Avion Taxi', '\\N', None, 'ADQ', 'AIR DATA', 'Canada', 'N'),
 (82, '83', 'Adria Airways', '\\N', 'JP', 'ADR', 'ADRIA', 'Slovenia', 'Y'),
 (83, '84', 'Aviones de Sonora', '\\N', None, 'ADS', 'SONORAV', 'Mexico', 'N'),
 (84, '85', 'Air Dorval', '\\N', None, 'ADT', 'AIR DORVAL', 'Canada', 'N'),
 (85, '86', 'Airdeal Oy', '\\N', None, 'ADU', 'AIRDEAL', 'Finland', 'N'),
 (86,
  '87',
  'Advance Air Charters',
  '\\N',
  None,
  'ADV',
  'ADVANCE',
  'Canada',
  'N'),
 (87, '88', 'Air Andaman', '\\N', None, 'ADW', 'AIR ANDAMAN', 'Thailand', 'N'),
 (88,
  '89',
  'Anderson Aviation',
  '\\N',
  None,
  'ADX',
  'ANDAX',
  'United States',
  'N'),
 (89, '90', 'Air Europa', '\\N', 'UX', 'AEA', 'EUROPA', 'Spain', 'Y'),
 (90,
  '91',
  'Air Southwest Ltd.',
  '\\N',
  None,
  'ASW',
  'AIRSOUTHWEST',
  'Canada',
  'N'),
 (91,
  '92',
  'Air Special',
  '\\N',
  None,
  'ASX',
  'AIRSPEC',
  'Czech Republic',
  'N'),
 (92, '93', 'Aero Benin', '\\N', 'EM', 'AEB', 'AEROBEN', 'Benin', 'Y'),
 (93,
  '94',
  'Aerocesar',
  '\\N',
  None,
  'AEC',
  ' Aerovias Del Cesar',
  'AEROCESAR',
  'N'),
 (94, '95', 'Aerotrans Airlines', '\\N', None, 'AED', None, 'Russia', 'N'),
 (95, '96', 'Aegean Airlines', '\\N', 'A3', 'AEE', 'AEGEAN', 'Greece', 'Y'),
 (96,
  '97',
  'Aerofumigaciones Sam',
  '\\N',
  None,
  'AEG',
  'FUMIGACIONES SAM',
  'Chile',
  'N'),
 (97,
  '98',
  'Aeroexpreso Interamericano',
  '\\N',
  None,
  'AEI',
  'INTERAM',
  'Colombia',
  'N'),
 (98,
  '99',
  'Air Express',
  '\\N',
  None,
  'AEJ',
  'KHAKI EXPRESS',
  'Tanzania',
  'N'),
 (99, '100', 'Aerocon', '\\N', None, 'AEK', 'AEROCON', 'Bolivia', 'N'),
 (100, '101', 'Aero Madrid', '\\N', None, 'AEM', 'AEROMADRID', 'Spain', 'N'),
 (101,
  '102',
  'Aeroenlaces Nacionales',
  '\\N',
  None,
  'AEN',
  None,
  'Mexico',
  'N'),
 (102,
  '103',
  'Aeroservicios Ejecutivos Del Occidente',
  '\\N',
  None,
  'AEO',
  'AERO OCCIDENTE',
  'Mexico',
  'N'),
 (103, '104', 'Aerotec', '\\N', None, 'AEP', 'AEROTEC', 'Spain', 'N'),
 (104,
  '105',
  'Air Atlantique',
  '\\N',
  'KI',
  'AAG',
  'ATLANTIC',
  'United Kingdom',
  'N'),
 (105, '106', 'Air Europe', '\\N', 'PE', 'AEL', 'AIR EUROPE', 'Italy', 'Y'),
 (106, '107', 'Air Alma', '\\N', None, 'AAJ', 'AIR ALMA', 'Canada', 'N'),
 (107, '108', 'Air Express', '\\N', None, 'AEQ', 'LUNA', 'Sweden', 'N'),
 (108,
  '109',
  'Alaska Central Express',
  '\\N',
  'KO',
  'AER',
  'ACE AIR',
  'United States',
  'Y'),
 (109, '110', 'ACES Colombia', '\\N', None, 'AES', 'ACES', 'Colombia', 'Y'),
 (110,
  '111',
  'Aeronautical Radio of Thailand',
  '\\N',
  None,
  'AET',
  'AEROTHAI',
  'Thailand',
  'N'),
 (111,
  '112',
  'Astraeus',
  '\\N',
  '5W',
  'AEU',
  'FLYSTAR',
  'United Kingdom',
  'Y'),
 (112, '113', 'Aeroventas', '\\N', None, 'AEV', 'AEROVENTAS', 'Mexico', 'N'),
 (113,
  '114',
  'Aerosvit Airlines',
  '\\N',
  'VV',
  'AEW',
  'AEROSVIT',
  'Ukraine',
  'Y'),
 (114,
  '115',
  'Airway Express',
  '\\N',
  None,
  'AEX',
  'AVCO',
  'United States',
  'N'),
 (115, '116', 'Air Italy', '\\N', 'I9', 'AEY', 'AIR ITALY', 'Italy', 'Y'),
 (116,
  '117',
  'Aerial Transit Company',
  '\\N',
  None,
  'AEZ',
  'AERIAL TRANZ',
  'United States',
  'N'),
 (117,
  '118',
  'Alfa Air',
  '\\N',
  None,
  'AFA',
  'BLUE ALFA',
  'Czech Republic',
  'N'),
 (118,
  '119',
  'American Falcon',
  '\\N',
  'WK',
  'AFB',
  'AMERICAN FALCON',
  'Argentina',
  'N'),
 (119,
  '120',
  'Alliance Airlines',
  '\\N',
  'QQ',
  'UTY',
  'UNITY',
  'Australia',
  'Y'),
 (120,
  '121',
  'Air Universal',
  '\\N',
  None,
  'UVS',
  'UNI-LEONE',
  'Sierra Leone',
  'N'),
 (121, '122', 'Auvia Air', '\\N', None, 'UVT', 'AUVIA', 'Indonesia', 'N'),
 (122,
  '123',
  'African West Air',
  '\\N',
  None,
  'AFC',
  'AFRICAN WEST',
  'Senegal',
  'N'),
 (123,
  '124',
  'Airfast Indonesia',
  '\\N',
  None,
  'AFE',
  'AIRFAST',
  'Indonesia',
  'N'),
 (124,
  '125',
  'Ariana Afghan Airlines',
  '\\N',
  'FG',
  'AFG',
  'ARIANA',
  'Afghanistan',
  'Y'),
 (125, '126', 'Air Fecteau', '\\N', None, 'AFH', 'FECTO', 'Canada', 'N'),
 (126, '127', 'Africaone', '\\N', None, 'AFI', 'AFRICAWORLD', 'Uganda', 'N'),
 (127, '128', 'Alliance', '\\N', None, 'AFJ', 'JAMBO', 'Uganda', 'N'),
 (128,
  '129',
  'Africa Air Links',
  '\\N',
  None,
  'AFK',
  'AFRICA LINKS',
  'Sierra Leone',
  'N'),
 (129,
  '130',
  'Aeroflot Russian Airlines',
  '\\N',
  'SU',
  'AFL',
  'AEROFLOT',
  'Russia',
  'Y'),
 (130,
  '131',
  'Aero Empresa Mexicana',
  '\\N',
  None,
  'AFO',
  'AERO EMPRESA',
  'Mexico',
  'N'),
 (131,
  '132',
  'Air Bosna',
  '\\N',
  'JA',
  'BON',
  'AIR BOSNA',
  'Bosnia and Herzegovina',
  'Y'),
 (132, '133', 'Air Bravo', '\\N', None, 'BRF', 'AIR BRAVO', 'Uganda', 'N'),
 (133, '134', "Air Brasd'or", '\\N', None, 'BRL', "BRASD'OR", 'Canada', 'N'),
 (134, '135', 'Air 500', '\\N', None, 'BRM', 'BOOMERANG', 'Canada', 'N'),
 (135,
  '136',
  'Alba Servizi Aerotrasporti',
  '\\N',
  None,
  'AFQ',
  'ALBA',
  'Italy',
  'N'),
 (136, '137', 'Air France', '\\N', 'AF', 'AFR', 'AIRFRANS', 'France', 'Y'),
 (137,
  '138',
  'Air Partner',
  '\\N',
  None,
  'ACG',
  'AIR PARTNER',
  'United Kingdom',
  'N'),
 (138,
  '139',
  'Air Caledonie International',
  '\\N',
  'SB',
  'ACI',
  'AIRCALIN',
  'France',
  'Y'),
 (139, '140', 'Air Caledonia', '\\N', None, 'ACM', 'WEST CAL', 'Canada', 'N'),
 (140,
  '141',
  'Air Guam',
  '\\N',
  None,
  'AGM',
  'AIR GUAM',
  'United States',
  'N'),
 (141, '142', 'Air Gabon', '\\N', 'GN', 'AGN', 'GOLF NOVEMBER', 'Gabon', 'N'),
 (142, '143', 'Air Data', '\\N', None, 'AFS', None, 'United Kingdom', 'N'),
 (143,
  '144',
  'Air Afrique Vacancies',
  '\\N',
  None,
  'AFV',
  'AFRIQUE VACANCE',
  'Ivory Coast',
  'N'),
 (144,
  '145',
  'Air Cargo America',
  '\\N',
  None,
  'MVM',
  'PEGASUS',
  'United States',
  'N'),
 (145, '146', 'Air Salone', '\\N', '2O', None, None, 'Sierra Leone', 'Y'),
 (146, '147', 'Air-Angol', '\\N', None, 'NGO', 'AIR ANGOL', 'Angola', 'N'),
 (147,
  '148',
  'Air Nigeria',
  '\\N',
  None,
  'NGP',
  'REGAL EAGLE',
  'Nigeria',
  'N'),
 (148,
  '149',
  'Air Cargo Carriers',
  '\\N',
  '2Q',
  'SNC',
  'NIGHT CARGO',
  'United States',
  'Y'),
 (149, '150', 'Air Samarkand', '\\N', None, 'SND', 'ARSAM', 'Uzbekistan', 'N'),
 (150,
  '151',
  'Air Senegal International',
  '\\N',
  'V7',
  'SNG',
  'AIR SENEGAL',
  'Senegal',
  'N'),
 (151, '152', 'Air Sandy', '\\N', None, 'SNY', 'AIR SANDY', 'Canada', 'N'),
 (152, '153', 'Air Namibia', '\\N', 'SW', 'NMB', 'NAMIBIA', 'Namibia', 'Y'),
 (153,
  '154',
  'Air Intersalonika',
  '\\N',
  None,
  'NSK',
  'INTERSALONIKA',
  'Greece',
  'N'),
 (154,
  '155',
  'Air Anatolia',
  '\\N',
  None,
  'NTL',
  'AIR ANATOLIA',
  'Turkey',
  'N'),
 (155, '156', 'Air Saigon', '\\N', None, 'SGA', 'AIR SAIGON', 'Vietnam', 'N'),
 (156,
  '157',
  'Afrique Regional Airways',
  '\\N',
  None,
  'AFW',
  'AFRAIR',
  'Ivory Coast',
  'N'),
 (157,
  '158',
  'Airfreight Express',
  '\\N',
  None,
  'AFX',
  ' ',
  'United Kingdom',
  'N'),
 (158,
  '159',
  'Africa Chartered Services',
  '\\N',
  None,
  'AFY',
  'AFRICA CHARTERED',
  'Nigeria',
  'N'),
 (159,
  '160',
  'Africa Freight Services',
  '\\N',
  None,
  'AFZ',
  'AFREIGHT',
  'Zambia',
  'N'),
 (160,
  '161',
  'Aeronaves Del Centro',
  '\\N',
  None,
  'AGA',
  None,
  'Venezuela',
  'N'),
 (161, '162', 'Air Service Gabon', '\\N', 'G8', 'AGB', None, 'Gabon', 'N'),
 (162,
  '163',
  'Arab Agricultural Aviation Company',
  '\\N',
  None,
  'AGC',
  'AGRICO',
  'Egypt',
  'N'),
 (163,
  '164',
  'Atlantic Gulf Airlines',
  '\\N',
  None,
  'AGF',
  'ATLANTIC GULF',
  'United States',
  'N'),
 (164, '165', 'Aerolitoral', '\\N', '5D', 'SLI', 'COSTERA', 'Mexico', 'Y'),
 (165, '166', 'Algoma Airways', '\\N', None, 'AGG', 'ALGOMA', 'Canada', 'N'),
 (166, '167', 'Altagna', '\\N', None, 'AGH', 'ALTAGNA', 'France', 'N'),
 (167,
  '168',
  'Angola Air Charter',
  '\\N',
  None,
  'AGO',
  'ANGOLA CHARTER',
  'Angola',
  'N'),
 (168,
  '169',
  'Angola Air Charter',
  '\\N',
  None,
  'AGO',
  'ANGOLA CHARTER',
  'Angola',
  'N'),
 (169, '170', 'AERFI Group', '\\N', None, 'AGP', 'AIR TARA', 'Ireland', 'N'),
 (170, '171', 'Aerogala', '\\N', None, 'AGQ', 'GALASERVICE', 'Chile', 'N'),
 (171,
  '172',
  'Amadeus Global Travel Distribution',
  '\\N',
  '1A',
  'AGT',
  'AMADEUS',
  'Spain',
  'N'),
 (172, '173', 'Angara Airlines', '\\N', None, 'AGU', 'SARMA', 'Russia', 'N'),
 (173,
  '174',
  'Air Glaciers',
  '\\N',
  '7T',
  'AGV',
  'AIR GLACIERS',
  'Switzerland',
  'Y'),
 (174, '175', 'Aero Gambia', '\\N', None, 'AGW', 'AERO GAMBIA', 'Gambia', 'N'),
 (175, '176', 'Aviogenex', '\\N', None, 'AGX', 'GENEX', 'Serbia', 'Y'),
 (176,
  '177',
  'Atlantic Coast Airlines',
  '\\N',
  None,
  'BLR',
  'BLUE RIDGE',
  'United States',
  'N'),
 (177, '178', 'Aero Barloz', '\\N', None, 'BLZ', 'AEROLOZ', 'Mexico', 'N'),
 (178, '179', 'Aeroper', '\\N', 'PL', 'PLI', 'Aeroperu', 'Peru', 'Y'),
 (179, '180', 'Atlas Blue', '\\N', '8A', 'BMM', 'ATLAS BLUE', 'Morocco', 'Y'),
 (180,
  '181',
  'Aero Banobras',
  '\\N',
  None,
  'BNB',
  'AEROBANOBRAS',
  'Mexico',
  'N'),
 (181,
  '182',
  'Aero Flight Service',
  '\\N',
  None,
  'AGY',
  'FLIGHT GROUP',
  'United States',
  'N'),
 (182, '183', 'Agrolet-Mci', '\\N', None, 'AGZ', 'AGROLET', 'Slovakia', 'N'),
 (183,
  '184',
  'Air Alpha Greenland',
  '\\N',
  'GD',
  'AHA',
  'AIR ALPHA',
  'Denmark',
  'N'),
 (184,
  '185',
  'Azal Avia Cargo',
  '\\N',
  None,
  'AHC',
  'AZALAVIACARGO',
  'Azerbaijan',
  'N'),
 (185,
  '186',
  'Airport Helicopter Basel',
  '\\N',
  None,
  'AHE',
  ' Muller & Co.',
  'AIRPORT HELICOPTER',
  'N'),
 (186,
  '187',
  'Aeroservices Corporate',
  '\\N',
  None,
  'CJE',
  'BIRD JET',
  'France',
  'N'),
 (187,
  '188',
  'Aspen Helicopters',
  '\\N',
  None,
  'AHF',
  'ASPEN',
  'United States',
  'N'),
 (188,
  '189',
  'Aerochago Airlines',
  '\\N',
  None,
  'AHG',
  'AEROCHAGO',
  'Dominican Republic',
  'N'),
 (189,
  '190',
  'Airplanes Holdings',
  '\\N',
  None,
  'AHH',
  'AIRHOLD',
  'Ireland',
  'N'),
 (190,
  '191',
  'Air Hong Kong',
  '\\N',
  'LD',
  'AHK',
  'AIR HONG KONG',
  'Hong Kong',
  'N'),
 (191, '192', 'Aerochiapas', '\\N', None, 'AHP', 'AEROCHIAPAS', 'Mexico', 'N'),
 (192, '193', 'Air Adriatic', '\\N', None, 'AHR', 'ADRIATIC', 'Croatia', 'N'),
 (193,
  '194',
  'Air Viggi San Raffaele',
  '\\N',
  None,
  'AHS',
  'AIRSAR',
  'Italy',
  'N'),
 (194,
  '195',
  'ABC Air Hungary',
  '\\N',
  None,
  'AHU',
  'ABC HUNGARY',
  'Hungary',
  'N'),
 (195,
  '196',
  'Aeromist-Kharkiv',
  '\\N',
  'HT',
  'AHW',
  'AEROMIST',
  'Ukraine',
  'N'),
 (196,
  '197',
  'Azerbaijan Airlines',
  '\\N',
  'J2',
  'AHY',
  'AZAL',
  'Azerbaijan',
  'Y'),
 (197, '198', 'Avies', '\\N', 'U3', 'AIA', 'AVIES', 'Estonia', 'Y'),
 (198,
  '199',
  'Airbus Industrie',
  '\\N',
  'AP',
  'AIB',
  'AIRBUS INDUSTRIE',
  'France',
  'N'),
 (199,
  '200',
  'Alpine Air Chile',
  '\\N',
  None,
  'AIH',
  'ALPINE CHILE',
  'Chile',
  'N'),
 (200, '201', 'Air Integra', '\\N', None, 'AII', 'INTEGRA', 'Canada', 'N'),
 (201,
  '202',
  'ABC Aerolineas',
  '\\N',
  None,
  'AIJ',
  'ABC AEROLINEAS',
  'Mexico',
  'N'),
 (202,
  '203',
  'African Airlines International Limited',
  '\\N',
  None,
  'AIK',
  'AFRICAN AIRLINES',
  'Kenya',
  'N'),
 (203,
  '204',
  'African International Airways',
  '\\N',
  None,
  'AIN',
  'FLY CARGO',
  'Swaziland',
  'N'),
 (204,
  '205',
  'Alpine Air Express',
  '\\N',
  '5A',
  'AIP',
  'ALPINE AIR',
  'United States',
  'N'),
 (205,
  '206',
  'Alicante Internacional Airlines',
  '\\N',
  None,
  'AIU',
  'ALIA',
  'Spain',
  'N'),
 (206, '207', 'Aba Air', '\\N', None, 'ABP', 'BAIR', 'Czech Republic', 'N'),
 (207, '208', 'Airblue', '\\N', 'ED', 'ABQ', 'PAKBLUE', 'Pakistan', 'Y'),
 (208,
  '209',
  'Airmark Aviation',
  '\\N',
  None,
  'THM',
  'THAI AIRMARK',
  'Thailand',
  'N'),
 (209,
  '210',
  'Airlift International',
  '\\N',
  None,
  'AIR',
  'AIRLIFT',
  'United States',
  'Y'),
 (210, '211', 'Airest', '\\N', None, 'AIT', ' ', 'Estonia', 'N'),
 (211, '212', 'Air Baffin', '\\N', None, 'BFF', 'AIR BAFFIN', 'Canada', 'N'),
 (212,
  '213',
  'Air Bandama',
  '\\N',
  None,
  'BDM',
  'BANDAMA',
  'Ivory Coast',
  'N'),
 (213, '214', 'Air Berlin', '\\N', 'AB', 'BER', 'AIR BERLIN', 'Germany', 'Y'),

In [15]:
cursor.execute("PRAGMA table_info(airports)")
info = cursor.fetchall()
info

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'id', 'TEXT', 0, None, 0),
 (2, 'name', 'TEXT', 0, None, 0),
 (3, 'city', 'TEXT', 0, None, 0),
 (4, 'country', 'TEXT', 0, None, 0),
 (5, 'code', 'TEXT', 0, None, 0),
 (6, 'icao', 'TEXT', 0, None, 0),
 (7, 'latitude', 'TEXT', 0, None, 0),
 (8, 'longitude', 'TEXT', 0, None, 0),
 (9, 'altitude', 'TEXT', 0, None, 0),
 (10, 'offset', 'TEXT', 0, None, 0),
 (11, 'dst', 'TEXT', 0, None, 0),
 (12, 'timezone', 'TEXT', 0, None, 0)]

In [16]:
cursor.execute("SELECT * FROM airports").fetchone()

(0,
 '1',
 'Goroka',
 'Goroka',
 'Papua New Guinea',
 'GKA',
 'AYGA',
 '-6.081689',
 '145.391881',
 '5282',
 '10',
 'U',
 'Pacific/Port_Moresby')

In [17]:
cursor.execute("PRAGMA table_info(routes)")
info = cursor.fetchall()
info

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'airline', 'TEXT', 0, None, 0),
 (2, 'airline_id', 'TEXT', 0, None, 0),
 (3, 'source', 'TEXT', 0, None, 0),
 (4, 'source_id', 'TEXT', 0, None, 0),
 (5, 'dest', 'TEXT', 0, None, 0),
 (6, 'dest_id', 'TEXT', 0, None, 0),
 (7, 'codeshare', 'TEXT', 0, None, 0),
 (8, 'stops', 'TEXT', 0, None, 0),
 (9, 'equipment', 'TEXT', 0, None, 0)]

In [18]:
cursor.execute("SELECT * FROM routes").fetchone()

(0, '2B', '410', 'AER', '2965', 'KZN', '2990', None, '0', 'CR2')

***
## Goal 4: Use basic SQL commands 
- Construct SQL queries
- Use JOIN to merge tables along logical columns
- Grouping Data with SQL

### Construct SQL queries

**Select**

**From**

**Where**

**Order by**

**Limit**

#### Options for each:

**Select**:  `distinct`, using `as` to rename columns, single number aggregates

**From:** also uses aliasing with `as`

**Where**: equals is only one `=`, `between`, `in`, wildcards `%`, `AND`, `OR`, `NOT`

**Order by**: `asc` and `desc`

**Limit**:  #

**Task**: 
- Select only active airlines in the UK from the airlines table
- Select the unique list of countries with airports

In [19]:
# cursor.execute("""
# SELECT *
# FROM airports where id= '2965'
# """)
# cursor.fetchmany(5)

In [20]:
# cursor.execute("""
# SELECT *
# FROM routes
# """)
# cursor.fetchmany(5)

In [21]:
cursor.execute("""
SELECT name
FROM airlines
WHERE active = 'Y'
  AND country = 'United Kingdom';
""")
cursor.fetchmany(5)

[('Astraeus',),
 ('Air Southwest',),
 ('Aurigny Air Services',),
 ('Air Wales',),
 ('AD Aviation',)]

In [22]:
#Select the unique list of countries with airports
cursor.execute("""
SELECT distinct country
FROM airports

""")
cursor.fetchall()

[('Papua New Guinea',),
 ('Greenland',),
 ('Iceland',),
 ('Canada',),
 ('Algeria',),
 ('Benin',),
 ('Burkina Faso',),
 ('Ghana',),
 ("Cote d'Ivoire",),
 ('Nigeria',),
 ('Niger',),
 ('Tunisia',),
 ('Togo',),
 ('Belgium',),
 ('Germany',),
 ('United States',),
 ('Estonia',),
 ('Finland',),
 ('United Kingdom',),
 ('Guernsey',),
 ('Jersey',),
 ('Isle of Man',),
 ('Falkland Islands',),
 ('Netherlands',),
 ('Ireland',),
 ('Denmark',),
 ('Faroe Islands',),
 ('Luxembourg',),
 ('Norway',),
 ('Poland',),
 ('Sweden',),
 ('South Africa',),
 ('Botswana',),
 ('Congo (Brazzaville)',),
 ('Congo (Kinshasa)',),
 ('Swaziland',),
 ('Central African Republic',),
 ('Equatorial Guinea',),
 ('Saint Helena',),
 ('Mauritius',),
 ('British Indian Ocean Territory',),
 ('Cameroon',),
 ('Zambia',),
 ('Comoros',),
 ('Mayotte',),
 ('Reunion',),
 ('Madagascar',),
 ('Angola',),
 ('Puerto Rico',),
 ('Gabon',),
 ('Sao Tome and Principe',),
 ('Mozambique',),
 ('Seychelles',),
 ('Chad',),
 ('Zimbabwe',),
 ('Malawi',),
 ('Lesotho',),
 ('Mali',),
 ('Gambia',),
 ('Spain',),
 ('Sierra Leone',),
 ('Guinea-Bissau',),
 ('Liberia',),
 ('Morocco',),
 ('Senegal',),
 ('Mauritania',),
 ('Guinea',),
 ('Cape Verde',),
 ('Ethiopia',),
 ('Maldives',),
 ('Burundi',),
 ('Somalia',),
 ('Egypt',),
 ('Kenya',),
 ('Libya',),
 ('Rwanda',),
 ('Sudan',),
 ('South Sudan',),
 ('Tanzania',),
 ('Uganda',),
 ('Albania',),
 ('Bulgaria',),
 ('Cyprus',),
 ('Croatia',),
 ('Greece',),
 ('France',),
 ('Saint Pierre and Miquelon',),
 ('Hungary',),
 ('Italy',),
 ('Slovenia',),
 ('Czech Republic',),
 ('Israel',),
 ('Malta',),
 ('Austria',),
 ('Portugal',),
 ('Bosnia and Herzegovina',),
 ('Romania',),
 ('Switzerland',),
 ('Turkey',),
 ('Moldova',),
 ('Macedonia',),
 ('Gibraltar',),
 ('Serbia',),
 ('Montenegro',),
 ('Slovakia',),
 ('Turks and Caicos Islands',),
 ('Dominican Republic',),
 ('Guatemala',),
 ('Honduras',),
 ('Jamaica',),
 ('Mexico',),
 ('Nicaragua',),
 ('Panama',),
 ('Costa Rica',),
 ('El Salvador',),
 ('Haiti',),
 ('Cuba',),
 ('Cayman Islands',),
 ('Bahamas',),
 ('Belize',),
 ('Cook Islands',),
 ('Fiji',),
 ('Tonga',),
 ('Kiribati',),
 ('Australia',),
 ('Wallis and Futuna',),
 ('Samoa',),
 ('American Samoa',),
 ('French Polynesia',),
 ('Vanuatu',),
 ('New Caledonia',),
 ('New Zealand',),
 ('Antarctica',),
 ('Afghanistan',),
 ('Bahrain',),
 ('Saudi Arabia',),
 ('Iran',),
 ('Argentina',),
 ('Jordan',),
 ('West Bank',),
 ('Kuwait',),
 ('Lebanon',),
 ('United Arab Emirates',),
 ('Oman',),
 ('Pakistan',),
 ('Iraq',),
 ('Syria',),
 ('Qatar',),
 ('Northern Mariana Islands',),
 ('Guam',),
 ('Marshall Islands',),
 ('Midway Islands',),
 ('Micronesia',),
 ('Palau',),
 ('Taiwan',),
 ('Japan',),
 ('South Korea',),
 ('Philippines',),
 ('Turkmenistan',),
 ('Brazil',),
 ('Chile',),
 ('Ecuador',),
 ('Paraguay',),
 ('Colombia',),
 ('Bolivia',),
 ('Suriname',),
 ('French Guiana',),
 ('Peru',),
 ('Uruguay',),
 ('Venezuela',),
 ('Guyana',),
 ('Antigua and Barbuda',),
 ('Barbados',),
 ('Dominica',),
 ('Martinique',),
 ('Guadeloupe',),
 ('Grenada',),
 ('Virgin Islands',),
 ('Saint Kitts and Nevis',),
 ('Saint Lucia',),
 ('Aruba',),
 ('Netherlands Antilles',),
 ('Anguilla',),
 ('Trinidad and Tobago',),
 ('British Virgin Islands',),
 ('Saint Vincent and the Grenadines',),
 ('Kazakhstan',),
 ('Kyrgyzstan',),
 ('Azerbaijan',),
 ('Russia',),
 ('Ukraine',),
 ('Belarus',),
 ('Tajikistan',),
 ('Uzbekistan',),
 ('India',),
 ('Sri Lanka',),
 ('Cambodia',),
 ('Bangladesh',),
 ('Hong Kong',),
 ('Laos',),
 ('Macau',),
 ('Nepal',),
 ('Bhutan',),
 ('Thailand',),
 ('Indonesia',),
 ('Vietnam',),
 ('Burma',),
 ('Malaysia',),
 ('Brunei',),
 ('East Timor',),
 ('Singapore',),
 ('Christmas Island',),
 ('Norfolk Island',),
 ('China',),
 ('Korea',),
 ('Mongolia',),
 ('Latvia',),
 ('Lithuania',),
 ('Armenia',),
 ('Eritrea',),
 ('Palestine',),
 ('Yemen',),
 ('Georgia',),
 ('Bermuda',),
 ('Solomon Islands',),
 ('Nauru',),
 ('Tuvalu',),
 ('Namibia',),
 ('Djibouti',),
 ('Montserrat',),
 ('Monaco',),
 ('Johnston Atoll',),
 ('Niue',),
 ('Western Sahara',),
 ('Cocos (Keeling) Islands',),
 ('South Georgia and the Islands',),
 ('Myanmar',),
 ('Svalbard',),
 ('North Korea',),
 ('Wake Island',)]

### SQL Joins

SQL joins can be used to both **add** data to a table and **remove** data from a table.

<img src="img/venn.png" width=550>

**Task** Write a query that will join the latitude and longitude data from the airports table to the information on the routes table

In [23]:
cursor.execute(""" select ao.latitude, ao.longitude, ro.*
from routes ro
inner join airports ao on ao.id = ro.source_id
inner join airports aa on aa.id = ro.dest_id;
""")
#print(*cursor.description, sep='\n')

cursor.fetchmany(5)

[('43.449928',
  '39.956589',
  0,
  '2B',
  '410',
  'AER',
  '2965',
  'KZN',
  '2990',
  None,
  '0',
  'CR2'),
 ('46.283333',
  '48.006278',
  1,
  '2B',
  '410',
  'ASF',
  '2966',
  'KZN',
  '2990',
  None,
  '0',
  'CR2'),
 ('46.283333',
  '48.006278',
  2,
  '2B',
  '410',
  'ASF',
  '2966',
  'MRV',
  '2962',
  None,
  '0',
  'CR2'),
 ('55.305836',
  '61.503333',
  3,
  '2B',
  '410',
  'CEK',
  '2968',
  'KZN',
  '2990',
  None,
  '0',
  'CR2'),
 ('55.305836',
  '61.503333',
  4,
  '2B',
  '410',
  'CEK',
  '2968',
  'OVB',
  '4078',
  None,
  '0',
  'CR2')]

### Grouping statements

Combines `select` and `group by` when you want aggregates by values

`select` `min(x)` ... `max()`, `sum()`, etc

`group by x`

**Task**<br>
- Which countries have the highest amount of active airlines?
- Which countries have the highest amount of inactive airlines?
- What about airports by timezones?

In [24]:
# Which countries have the highest amount of active airports?
cursor.execute("""
select country, count(active) as active
from airlines
where active = 'Y'
group by country order by active desc;
""")
print(*cursor.fetchall(), sep='\n')

('United States', 141)
('Russia', 72)
('United Kingdom', 40)
('Germany', 37)
('Canada', 34)
('Australia', 26)
('China', 25)
('Spain', 24)
('Brazil', 23)
('France', 22)
('Japan', 19)
('Italy', 18)
('Indonesia', 17)
('India', 17)
('Turkey', 16)
('Thailand', 16)
('Sweden', 15)
('Switzerland', 14)
('Ukraine', 13)
('Portugal', 13)
('Mexico', 12)
('Finland', 12)
('Egypt', 12)
('Austria', 12)
('Peru', 11)
('South Africa', 10)
('Greece', 10)
('Argentina', 10)
('Netherlands', 9)
('Iceland', 9)
('Colombia', 9)
('United Arab Emirates', 8)
('Singapore', 8)
('Romania', 8)
('Poland', 8)
('Philippines', 8)
('Vietnam', 7)
('Taiwan', 7)
('Pakistan', 7)
('Malaysia', 7)
('Ireland', 7)
('Iran', 7)
('Ecuador', 7)
('Denmark', 7)
('South Korea', 6)
('Norway', 6)
('Nepal', 6)
('Kazakhstan', 6)
('Israel', 6)
('Georgia', 6)
('Chile', 6)
('Burma', 6)
('Belgium', 6)
('Slovakia', 5)
('Republic of Korea', 5)
('Nigeria', 5)
('Morocco', 5)
('Lithuania', 5)
('Dominican Republic', 5)
('Czech Republic', 5)
('Cambodia', 5)
('Venezuela', 4)
('Uruguay', 4)
('Tunisia', 4)
('Tanzania', 4)
('New Zealand', 4)
('Maldives', 4)
('Latvia', 4)
('Kyrgyzstan', 4)
('Congo (Kinshasa)', 4)
('Azerbaijan', 4)
('Afghanistan', 4)
('Zimbabwe', 3)
('Zambia', 3)
('Uganda', 3)
('Sierra Leone', 3)
('Serbia', 3)
('Saudi Arabia', 3)
('Netherlands Antilles', 3)
('Myanmar', 3)
('Mongolia', 3)
('Mauritania', 3)
('Libya', 3)
('Lebanon', 3)
('Kuwait', 3)
('Kenya', 3)
('Hungary', 3)
('Hong Kong SAR of China', 3)
('Haiti', 3)
('Guinea', 3)
('Estonia', 3)
('Cyprus', 3)
('Cameroon', 3)
('Bulgaria', 3)
('Bangladesh', 3)
('\\N', 2)
('Yemen', 2)
('Uzbekistan', 2)
('Tajikistan', 2)
('Sudan', 2)
('Sri Lanka', 2)
('Russian Federation', 2)
('Qatar', 2)
('Paraguay', 2)
('Papua New Guinea', 2)
('Oman', 2)
('Mozambique', 2)
('Moldova', 2)
('Mauritius', 2)
('Malta', 2)
('Malawi', 2)
('Macedonia', 2)
('Macao', 2)
('Jordan', 2)
('Ivory Coast', 2)
('Iraq', 2)
('Hong Kong', 2)
('Ghana', 2)
('Fiji', 2)
('Eritrea', 2)
('Djibouti', 2)
('Cuba', 2)
('Croatia', 2)
('Costa Rica', 2)
('Bosnia and Herzegovina', 2)
('Bolivia', 2)
('Belize', 2)
('Belarus', 2)
('Barbados', 2)
('Bahamas', 2)
('Armenia', 2)
('Angola', 2)
('Algeria', 2)
('Albania', 2)
(None, 2)
('Vanuatu', 1)
('Turkmenistan', 1)
('Trinidad and Tobago', 1)
('Togo', 1)
('Syrian Arab Republic', 1)
('Syria', 1)
('Suriname', 1)
('Solomon Islands', 1)
('Slovenia', 1)
('Seychelles', 1)
('Senegal', 1)
('Sao Tome and Principe', 1)
('Samoa', 1)
('Saint Vincent and the Grenadines', 1)
('Rwanda', 1)
('Reunion', 1)
('Republic of the Congo', 1)
('Puerto Rico', 1)
('Panama', 1)
('Palau', 1)
('Niger', 1)
('Nauru', 1)
('Namibia', 1)
('Montenegro', 1)
('Marshall Islands', 1)
('Madagascar', 1)
('Luxembourg', 1)
('Lao Peoples Democratic Republic', 1)
('Kiribati', 1)
('Jamaica', 1)
('Honduras', 1)
('Guatemala', 1)
('Guadeloupe', 1)
('Gabon', 1)
('French Polynesia', 1)
('French Guiana', 1)
('Faroe Islands', 1)
('Ethiopia', 1)
('Equatorial Guinea', 1)
("Democratic People's Republic of Korea", 1)
('DRAGON', 1)
('Cook Islands', 1)
('Comoros', 1)
('Cayman Islands', 1)
('Cape Verde', 1)
('Canadian Territories', 1)
('Burundi', 1)
('Burkina Faso', 1)
('Brunei', 1)
('British Virgin Islands', 1)
('Botswana', 1)
('Bhutan', 1)
('Benin', 1)
('Bahrain', 1)
('Aruba', 1)
('Antigua and Barbuda', 1)
('American Samoa', 1)
('AVIANCA', 1)
('ALASKA', 1)
(' S.A.', 1)

In [25]:
# Which countries have the highest amount of inactive airports?
cursor.execute("""
SELECT country, active
FROM (select country, count(active) as active
from airlines
where active = 'N'
group by country) order by active desc;
""")
print(*cursor.fetchmany(5), sep='\n')

('United States', 939)
('Mexico', 427)
('United Kingdom', 367)
('Canada', 284)
('Russia', 158)

In [26]:
# What about airports by timezones?
#a) grouping airports by timezone
#b) which timezones have the highest amount of active and inactive airports

cursor.execute("""
select  distinct timezone, ai.country, count(active) as active
from airlines ai
left join airports ap
on ai.icao = ap.icao
where active = 'N'
group by timezone
order by active desc;
 """)
print(*cursor.fetchall(), sep='\n')

('America/New_York', 'United States', 7590)
(None, 'United States', 4838)
('America/Anchorage', 'United States', 3772)
('Europe/Berlin', 'United States', 2944)
('Asia/Chongqing', 'United States', 2530)
('America/Los_Angeles', 'Canada', 2439)
('America/Chicago', 'Mexico', 2209)
('Europe/London', 'United States', 1932)
('\\N', 'United States', 1518)
('Indian/Maldives', 'United States', 1288)
('Europe/Paris', 'United States', 1104)
('America/Vancouver', 'United States', 1012)
('America/Toronto', 'United States', 1012)
('Europe/Moscow', 'United States', 966)
('Europe/Rome', 'United States', 828)
('Asia/Tokyo', 'United States', 736)
('America/Denver', 'United States', 736)
('Africa/Nairobi', 'United States', 736)
('Europe/Amsterdam', 'United States', 690)
('America/Cayenne', 'United States', 690)
('Pacific/Port_Moresby', 'United States', 644)
('Asia/Irkutsk', 'United States', 644)
('Europe/Zurich', 'United States', 552)
('Africa/Gaborone', 'United States', 552)
('Europe/Stockholm', 'United States', 506)
('Antarctica/South_Pole', 'United States', 506)
('America/Edmonton', 'United States', 506)
('America/Cordoba', 'United States', 506)
('Europe/Vienna', 'United States', 460)
('Europe/Madrid', 'United States', 460)
('Europe/Brussels', 'United States', 460)
('Asia/Calcutta', 'United States', 460)
('America/Panama', 'United States', 460)
('Africa/Johannesburg', 'United States', 460)
('Pacific/Majuro', 'United States', 368)
('Australia/Brisbane', 'United States', 368)
('Asia/Hong_Kong', 'United States', 368)
('America/Port-au-Prince', 'United States', 368)
('America/Belize', 'United States', 368)
('Europe/Oslo', 'United States', 322)
('Asia/Taipei', 'United States', 322)
('Asia/Bangkok', 'United States', 322)
('Africa/Dar_es_Salaam', 'United States', 322)
('Europe/Dublin', 'United States', 276)
('Asia/Vladivostok', 'United States', 276)
('Africa/Lagos', 'United States', 276)
('Pacific/Honolulu', 'United States', 230)
('Pacific/Auckland', 'United States', 230)
('Europe/Malta', 'United States', 230)
('Europe/Bucharest', 'United States', 230)
('Europe/Athens', 'United States', 230)
('Asia/Saigon', 'United States', 230)
('Asia/Omsk', 'United States', 230)
('America/Winnipeg', 'United States', 230)
('America/Nassau', 'United States', 230)
('Europe/Lisbon', 'United States', 184)
('Europe/Istanbul', 'United States', 184)
('Asia/Seoul', 'United States', 184)
('Asia/Pyongyang', 'United States', 184)
('Asia/Kuala_Lumpur', 'United States', 184)
('Asia/Jerusalem', 'United States', 184)
('Asia/Dubai', 'United States', 184)
('Asia/Colombo', 'United States', 184)
('America/Puerto_Rico', 'United States', 184)
('America/Phoenix', 'United States', 184)
('America/Paramaribo', 'United States', 184)
('America/Mexico_City', 'United States', 184)
('America/Lima', 'United States', 184)
('America/La_Paz', 'United States', 184)
('Africa/Windhoek', 'United States', 184)
('Europe/Prague', 'United States', 138)
('Europe/Budapest', 'United States', 138)
('Australia/Perth', 'United States', 138)
('Australia/Hobart', 'United States', 138)
('Australia/Adelaide', 'United States', 138)
('Atlantic/Stanley', 'United States', 138)
('Asia/Yakutsk', 'United States', 138)
('Asia/Qyzylorda', 'United States', 138)
('Asia/Macau', 'United States', 138)
('Asia/Jayapura', 'United States', 138)
('Asia/Dhaka', 'United States', 138)
('Asia/Ashgabat', 'United States', 138)
('Arctic/Longyearbyen', 'United States', 138)
('America/Montevideo', 'United States', 138)
('America/Fortaleza', 'United States', 138)
('America/Caracas', 'United States', 138)
('America/Bogota', 'United States', 138)
('America/Boa_Vista', 'United States', 138)
('Africa/Tripoli', 'United States', 138)
('Africa/Maputo', 'United States', 138)
('Africa/Lusaka', 'United States', 138)
('Pacific/Palau', 'United States', 92)
('Indian/Antananarivo', 'United States', 92)
('Europe/Warsaw', 'United States', 92)
('Europe/Kiev', 'United States', 92)
('Europe/Copenhagen', 'United States', 92)
('Australia/Sydney', 'United States', 92)
('Atlantic/South_Georgia', 'United States', 92)
('Atlantic/Reykjavik', 'United States', 92)
('Atlantic/Canary', 'United States', 92)
('Asia/Yekaterinburg', 'United States', 92)
('Asia/Ulaanbaatar', 'United States', 92)
('Asia/Oral', 'United States', 92)
('Asia/Makassar', 'United States', 92)
('America/St_Thomas', 'United States', 92)
('America/Sao_Paulo', 'United States', 92)
('America/Santiago', 'United States', 92)
('America/Mazatlan', 'United States', 92)
('America/Halifax', 'United States', 92)
('America/Guayaquil', 'United States', 92)
('America/Godthab', 'United States', 92)
('Africa/Mogadishu', 'United States', 92)
('Africa/Khartoum', 'United States', 92)
('Africa/Harare', 'United States', 92)
('Pacific/Truk', 'United States', 46)
('Pacific/Pago_Pago', 'United States', 46)
('Pacific/Guadalcanal', 'United States', 46)
('Pacific/Fiji', 'United States', 46)
('Pacific/Efate', 'United States', 46)
('Pacific/Apia', 'United States', 46)
('Indian/Mahe', 'United States', 46)
('Europe/Zagreb', 'United States', 46)
('Europe/Monaco', 'United States', 46)
('Europe/Chisinau', 'United States', 46)
('Australia/Darwin', 'United States', 46)
('Atlantic/St_Helena', 'United States', 46)
('Atlantic/Faeroe', 'United States', 46)
('Atlantic/Bermuda', 'United States', 46)
('Atlantic/Azores', 'United States', 46)
('Asia/Tehran', 'United States', 46)
('Asia/Tbilisi', 'United States', 46)
('Asia/Singapore', 'United States', 46)
('Asia/Rangoon', 'United States', 46)
('Asia/Qatar', 'United States', 46)
('Asia/Phnom_Penh', 'United States', 46)
('Asia/Nicosia', 'United States', 46)
('Asia/Manila', 'United States', 46)
('Asia/Krasnoyarsk', 'United States', 46)
('Asia/Katmandu', 'United States', 46)
('Asia/Kabul', 'United States', 46)
('Asia/Jakarta', 'United States', 46)
('Asia/Baku', 'United States', 46)
('Asia/Amman', 'United States', 46)
('America/Tijuana', 'United States', 46)
('America/St_Lucia', 'United States', 46)
('America/St_Kitts', 'United States', 46)
('America/Montserrat', 'United States', 46)
('America/Jamaica', 'United States', 46)
('America/Havana', 'United States', 46)
('America/Guyana', 'United States', 46)
('America/Guatemala', 'United States', 46)
('America/Danmarkshavn', 'United States', 46)
('America/Curacao', 'United States', 46)
('Africa/Nouakchott', 'United States', 46)
('Africa/Ndjamena', 'United States', 46)
('Africa/Luanda', 'United States', 46)
('Africa/Freetown', 'United States', 46)
('Africa/Casablanca', 'United States', 46)
('Africa/Bangui', 'United States', 46)
('Africa/Algiers', 'United States', 46)
('Africa/Addis_Ababa', 'United States', 46)

In [27]:
cursor.execute("""
select  count(icao) as active
from airlines
""")
print(*cursor.fetchall(), sep='\n')

(5961,)

In [28]:
cursor.execute("""
select name, timezone, count(*) 
from airports
group by timezone
order by count(*) desc;
 """)
print(*cursor.fetchall(), sep='\n')

('Putnam County Airport', 'America/New_York', 628)
('Door County Cherryland Airport', 'America/Chicago', 373)
('Bautzen', 'Europe/Berlin', 319)
('Tyonek Airport', 'America/Anchorage', 258)
('Calais Dunkerque', 'Europe/Paris', 232)
('Eastern Oregon Regional Airport', 'America/Los_Angeles', 226)
('Capital Intl', 'Asia/Chongqing', 222)
('Belfast Intl', 'Europe/London', 193)
('Sault Ste Marie', 'America/Toronto', 159)
('Ahmedabad', 'Asia/Calcutta', 141)
('Riverton Regional', 'America/Denver', 135)
('Narita Intl', 'Asia/Tokyo', 131)
('Aeropuerto de Rafaela', 'America/Cordoba', 104)
('Alexander Bay', 'Africa/Johannesburg', 104)
('Pulkovo', 'Europe/Moscow', 100)
('Campo Delio Jardim De Mattos', 'America/Sao_Paulo', 97)
('Amendola', 'Europe/Rome', 93)
('Guantanamo Bay Ns', '\\N', 92)
('Malmen', 'Europe/Stockholm', 86)
('Whitsunday Airstrip', 'Australia/Brisbane', 81)
('Abadan', 'Asia/Tehran', 81)
('Tofino', 'America/Vancouver', 78)
('Guvercinlik', 'Europe/Istanbul', 77)
('Melilla', 'Europe/Madrid', 74)
('El Eden', 'America/Bogota', 72)
('Vigra', 'Europe/Oslo', 67)
('Kugaaruk', 'America/Edmonton', 66)
('Winnipeg St Andrews', 'America/Winnipeg', 65)
('General Juan N Alvarez Intl', 'America/Mexico_City', 65)
('Ninoy Aquino Intl', 'Asia/Manila', 63)
('Alexion', 'Europe/Athens', 60)
('Don Muang Intl', 'Asia/Bangkok', 58)
('Oswaldo Guevara Mujica', 'America/Caracas', 58)
('Goroka', 'Pacific/Port_Moresby', 57)
('Auckland Intl', 'Pacific/Auckland', 54)
('Eldoret Intl', 'Africa/Nairobi', 54)
('Maitland Airport', 'Australia/Sydney', 52)
('Conceicao Do Araguaia', 'America/Boa_Vista', 52)
('Les Eplatures', 'Europe/Zurich', 50)
('Enontekio', 'Europe/Helsinki', 50)
('Sultan Syarif Kasim Ii', 'Asia/Jakarta', 49)
('Bhagatanwala', 'Asia/Karachi', 46)
('Ivato', 'Indian/Antananarivo', 45)
('Bungle Bungle Airport', 'Australia/Perth', 45)
('Bintulu', 'Asia/Kuala_Lumpur', 45)
('Amapa', 'America/Fortaleza', 44)
('Blida', 'Africa/Algiers', 44)
('Ann', 'Asia/Rangoon', 43)
('Huancabamba', 'America/Lima', 43)
('Abha', 'Asia/Riyadh', 42)
('Naha', 'Asia/Makassar', 42)
('Ernest A Love Fld', 'America/Phoenix', 42)
('Schiphol', 'Europe/Amsterdam', 41)
('South Ari Atoll', 'Indian/Maldives', 38)
('Chacalluta', 'America/Santiago', 37)
('Clarence A Bain', 'America/Nassau', 37)
('Bhairahawa', 'Asia/Katmandu', 36)
('Babice', 'Europe/Warsaw', 35)
('Deurne', 'Europe/Brussels', 35)
('Chachoan', 'America/Guayaquil', 35)
('Boryspil Intl', 'Europe/Kiev', 33)
('Marshall Islands Intl', 'Pacific/Majuro', 32)
('Shang Yi', 'Asia/Taipei', 32)
('Bole Intl', 'Africa/Addis_Ababa', 31)
('Wiener Neustadt East', 'Europe/Vienna', 30)
('Gwangju', 'Asia/Seoul', 30)
('Danang Intl', 'Asia/Saigon', 30)
('Port Vila Bauerfield', 'Pacific/Efate', 29)
('Balandino', 'Asia/Yekaterinburg', 29)
('Gustavo Rizo', 'America/Havana', 29)
('Buenos Aires', 'America/Costa_Rica', 29)
('Aarhus', 'Europe/Copenhagen', 28)
('Arusha', 'Africa/Dar_es_Salaam', 28)
('Ceske Budejovice', 'Europe/Prague', 27)
('Bermejo', 'America/La_Paz', 27)
('Shearwater', 'America/Halifax', 27)
('Nnamdi Azikiwe Intl', 'Africa/Lagos', 27)
('Honiara International', 'Pacific/Guadalcanal', 26)
('Alverca', 'Europe/Lisbon', 26)
('Arad', 'Europe/Bucharest', 26)
('Bocas Del Toro Intl', 'America/Panama', 26)
('Tubuai', 'Pacific/Tahiti', 25)
('Hilo Intl', 'Pacific/Honolulu', 25)
('Mbanza Congo', 'Africa/Luanda', 25)
('Francistown', 'Africa/Gaborone', 25)
('Bratsk', 'Asia/Irkutsk', 24)
('Cork', 'Europe/Dublin', 23)
('Adelaide Intl', 'Australia/Adelaide', 23)
('Johan A Pengel Intl', 'America/Paramaribo', 23)
('Avalon', 'Australia/Hobart', 22)
('Alice Springs', 'Australia/Darwin', 22)
('Akureyri', 'Atlantic/Reykjavik', 22)
('Herat', 'Asia/Kabul', 22)
('Narsarsuaq', 'America/Godthab', 22)
('Bu Attifel', 'Africa/Tripoli', 22)
('Beira', 'Africa/Maputo', 22)
('Inezgane', 'Africa/Casablanca', 22)
('Yakutsk', 'Asia/Yakutsk', 21)
('Almaty', 'Asia/Qyzylorda', 21)
('Frans Kaisiepo', 'Asia/Jayapura', 21)
('Rochambeau', 'America/Cayenne', 21)
('Alexandria Intl', 'Africa/Cairo', 21)
('Ben Gurion', 'Asia/Jerusalem', 20)
('Novy', 'Asia/Vladivostok', 19)
('Abu Dhabi Intl', 'Asia/Dubai', 19)
('South Pole Station', 'Antarctica/South_Pole', 19)
('Estevan', 'America/Regina', 18)
('Windhoek Hosea Kutako International Airport ', 'Africa/Windhoek', 18)
('Ndjili Intl', 'Africa/Kinshasa', 18)
('Nadi Intl', 'Pacific/Fiji', 17)
('Barnaul', 'Asia/Omsk', 17)
('Provideniya Bay', 'Asia/Magadan', 16)
('Abakan', 'Asia/Krasnoyarsk', 16)
('Nuevo Casas Grandes', 'America/Mazatlan', 16)
('J M Nkomo Intl', 'Africa/Harare', 16)
('Bandaranaike Intl Colombo', 'Asia/Colombo', 15)
('Culebra Airport', 'America/Puerto_Rico', 15)
('Alta Floresta', 'America/Campo_Grande', 15)
('Kisangani Simisini', 'Africa/Lubumbashi', 15)
('Ferihegy', 'Europe/Budapest', 14)
('Arroyo Barril Intl', 'America/Santo_Domingo', 14)
('Cayes', 'America/Port-au-Prince', 14)
('Linden', 'America/Guyana', 14)
('Oyem', 'Africa/Libreville', 14)
('Dongola', 'Africa/Khartoum', 14)
('Dubrovnik', 'Europe/Zagreb', 13)
('Kampong Chhnang', 'Asia/Phnom_Penh', 13)
('Hong Kong Intl', 'Asia/Hong_Kong', 13)
('Coxs Bazar', 'Asia/Dhaka', 13)
('Habib Bourguiba Intl', 'Africa/Tunis', 13)
('Kasompe', 'Africa/Lusaka', 13)
('Bukhara', 'Asia/Samarkand', 12)
('Angel S Adami', 'America/Montevideo', 12)
('Philip S W Goldson Intl', 'America/Belize', 12)
('Kone', 'Pacific/Noumea', 11)
('Luang Phabang Intl', 'Asia/Vientiane', 11)
('Chinggis Khaan Intl', 'Asia/Ulaanbaatar', 11)
('Riyan', 'Asia/Aden', 11)
('Goloson Intl', 'America/Tegucigalpa', 11)
('Bluefields', 'America/Managua', 11)
('Aioun El Atrouss', 'Africa/Nouakchott', 11)
('Egal Intl', 'Africa/Mogadishu', 11)
('St Denis Gillot', 'Indian/Reunion', 10)
('Alphonse', 'Indian/Mahe', 10)
('Fuerteventura', 'Atlantic/Canary', 10)
('Santa Maria', 'Atlantic/Azores', 10)
('Basrah Intl', 'Asia/Baghdad', 10)
('Bananera', 'America/Guatemala', 10)
('Tiko', 'Africa/Douala', 10)
('Amari', 'Europe/Tallinn', 9)
('Heydar Aliyev', 'Asia/Baku', 9)
('St Anthony', 'America/St_Johns', 9)
('Entebbe Intl', 'Africa/Kampala', 9)
('Ziguinchor', 'Africa/Dakar', 9)
('Bonriki Intl', 'Pacific/Tarawa', 8)
('Aitutaki', 'Pacific/Rarotonga', 8)
('Siauliai Intl', 'Europe/Vilnius', 8)
('Gomel', 'Europe/Minsk', 8)
('M R Stefanik', 'Europe/Bratislava', 8)
('Mary Airport', 'Asia/Ashgabat', 8)
('Cyril E King', 'America/St_Thomas', 8)
('Flamingo', 'America/Curacao', 8)
('Silvio Pettirossi Intl', 'America/Asuncion', 8)
('Freetown Lungi', 'Africa/Freetown', 8)
('Chileka Intl', 'Africa/Blantyre', 8)
('Senou', 'Africa/Bamako', 8)
('Burgas', 'Europe/Sofia', 7)
('Luqa', 'Europe/Malta', 7)
('Hobart', 'Australia/Melbourne', 7)
('Amilcar Cabral Intl', 'Atlantic/Cape_Verde', 7)
('Uralsk', 'Asia/Oral', 7)
('Longyear', 'Arctic/Longyearbyen', 7)
('Boscobel', 'America/Jamaica', 7)
('Chevery Airport', 'America/Blanc-Sablon', 7)
('Maradi', 'Africa/Niamey', 7)
('Abeche', 'Africa/Ndjamena', 7)
('Juba', 'Africa/Juba', 7)
('Abidjan Felix Houphouet Boigny Intl', 'Africa/Abidjan', 7)
('Fua Amotu Intl', 'Pacific/Tongatapu', 6)
('Sembawang', 'Asia/Singapore', 6)
('Pyongyang Intl', 'Asia/Pyongyang', 6)
('Khasab', 'Asia/Muscat', 6)
('Aleppo Intl', 'Asia/Damascus', 6)
('Queen Alia Intl', 'Asia/Amman', 6)
('Ensenada', 'America/Tijuana', 6)
('Le Raizet', 'America/Guadeloupe', 6)
('North Caicos', 'America/Grand_Turk', 6)
('Fria', 'Africa/Conakry', 6)
('Kotoka Intl', 'Africa/Accra', 6)
('Cerklje', 'Europe/Ljubljana', 5)
('Mount Pleasant', 'Atlantic/Stanley', 5)
('Batumi', 'Asia/Tbilisi', 5)
('Canouan', 'America/St_Vincent', 5)
('Ciudad Obregon Intl', 'America/Hermosillo', 5)
('Maya Maya', 'Africa/Brazzaville', 5)
('Nuku Hiva', 'Pacific/Marquesas', 4)
('Faleolo Intl', 'Pacific/Apia', 4)
('Prince Said Ibrahim', 'Indian/Comoro', 4)
('Mostar', 'Europe/Sarajevo', 4)
('Beograd', 'Europe/Belgrade', 4)
('Erebuni', 'Asia/Yerevan', 4)
('Larnaca', 'Asia/Nicosia', 4)
('Macau Intl', 'Asia/Macau', 4)
('Dushanbe', 'Asia/Dushanbe', 4)
('Manas', 'Asia/Bishkek', 4)
('Le Lamentin', 'America/Martinique', 4)
('Goma', 'Africa/Kigali', 4)
('Assab Intl', 'Africa/Asmera', 4)
('Chuuk Intl', 'Pacific/Truk', 3)
('Rota Intl', 'Pacific/Saipan', 3)
('Babelthuap', 'Pacific/Palau', 3)
('Pago Pago Intl', 'Pacific/Pago_Pago', 3)
('Seymour', 'Pacific/Galapagos', 3)
('Liepaja Intl', 'Europe/Riga', 3)
('Balti Intl', 'Europe/Chisinau', 3)
('Vagar', 'Atlantic/Faeroe', 3)
('Doha Intl', 'Asia/Qatar', 3)
('Khovd Airport', 'Asia/Hovd', 3)
('Suai', 'Asia/Dili', 3)
('George F L Charles', 'America/St_Lucia', 3)
('Robert L Bradshaw', 'America/St_Kitts', 3)
('Cruzeiro do Sul', 'America/Rio_Branco', 3)
('Point Salines Intl', 'America/Grenada', 3)
('Canefield', 'America/Dominica', 3)
('Fairmont Hot Springs', 'America/Coral_Harbour', 3)
('Gerrard Smith Intl', 'America/Cayman', 3)
('Monrovia Spriggs Payne', 'Africa/Monrovia', 3)
('Moshoeshoe I Intl', 'Africa/Maseru', 3)
('Hassan I Airport', 'Africa/El_Aaiun', 3)
('Ambouli International Airport', 'Africa/Djibouti', 3)
('Bangui M Poko', 'Africa/Bangui', 3)
('Wallis', 'Pacific/Wallis', 2)
('Andersen Afb', 'Pacific/Guam', 2)
('Chatham Islands', 'Pacific/Chatham', 2)
('Sir Seewoosagur Ramgoolam Intl', 'Indian/Mauritius', 2)
('Ohrid', 'Europe/Skopje', 2)
('Podgorica', 'Europe/Podgorica', 2)
('Alderney', 'Europe/Guernsey', 2)
('Ascension Aux Af', 'Atlantic/St_Helena', 2)
('Grytviken', 'Atlantic/South_Georgia', 2)
('Bermuda Intl', 'Atlantic/Bermuda', 2)
('Kuwait Intl', 'Asia/Kuwait', 2)
('Jerusalem', 'Asia/Gaza', 2)
('Brunei Intl', 'Asia/Brunei', 2)
('Rafic Hariri Intl', 'Asia/Beirut', 2)
('Bahrain Intl', 'Asia/Bahrain', 2)
('Terrance B Lettsome Intl', 'America/Tortola', 2)
('Thule Air Base', 'America/Thule', 2)
('Neerlerit Inaat Airport', 'America/Scoresbysund', 2)
('Crown Point', 'America/Port_of_Spain', 2)
('John A. Osborne Airport', 'America/Montserrat', 2)
('Miquelon', 'America/Miquelon', 2)
('El Salvador Intl', 'America/El_Salvador', 2)
('Dawson Creek', 'America/Dawson_Creek', 2)
('Summit Camp', 'America/Danmarkshavn', 2)
('V C Bird Intl', 'America/Antigua', 2)
('Principe', 'Africa/Sao_Tome', 2)
('Ouagadougou', 'Africa/Ouagadougou', 2)
('Bata', 'Africa/Malabo', 2)
('Niamtougou International', 'Africa/Lome', 2)
('Cufar', 'Africa/Bissau', 2)
('Wake Island Afld', 'Pacific/Wake', 1)
('Pohnpei Intl', 'Pacific/Ponape', 1)
('Norfolk Island Intl', 'Pacific/Norfolk', 1)
('Niue International Airport', 'Pacific/Niue', 1)
('Nauru Intl', 'Pacific/Nauru', 1)
('Midway Atoll', 'Pacific/Midway', 1)
('Kosrae', 'Pacific/Kosrae', 1)
('Johnston Atoll', 'Pacific/Johnston', 1)
('Totegegie', 'Pacific/Gambier', 1)
('Funafuti International', 'Pacific/Funafuti', 1)
('Canton', 'Pacific/Enderbury', 1)
('Mataveri Intl', 'Pacific/Easter', 1)
('Dzaoudzi Pamandzi', 'Indian/Mayotte', 1)
('Cocos Keeling Island Airport', 'Indian/Cocos', 1)
('Christmas Island', 'Indian/Christmas', 1)
('Diego Garcia Nsf', 'Indian/Chagos', 1)
('Balzers Heliport', 'Europe/Vaduz', 1)
('Tirana Rinas', 'Europe/Tirane', 1)
('Monaco', 'Europe/Monaco', 1)
('Mariehamn', 'Europe/Mariehamn', 1)
('Luxembourg', 'Europe/Luxembourg', 1)
('Khrabrovo', 'Europe/Kaliningrad', 1)
('Jersey', 'Europe/Jersey', 1)
('Isle Of Man', 'Europe/Isle_of_Man', 1)
('Gibraltar', 'Europe/Gibraltar', 1)
('Paro', 'Asia/Thimphu', 1)
('Grantley Adams Intl', 'America/Barbados', 1)
('Reina Beatrix Intl', 'America/Aruba', 1)
('Wallblake', 'America/Anguilla', 1)
('Cadjehoun', 'Africa/Porto-Novo', 1)
('Matsapha', 'Africa/Mbabane', 1)
('Bujumbura Intl', 'Africa/Bujumbura', 1)
('Banjul Intl', 'Africa/Banjul', 1)

In [29]:
#a) grouping airports by timezone
cursor.execute("""
select Distinct timezone , count(active)
from airlines left outer join airports ap on airlines.icao=ap.icao
where active = 'N'
group by timezone
order by active""")
print(*cursor.fetchall(), sep='\n')

(None, 4838)
('Africa/Addis_Ababa', 46)
('Africa/Algiers', 46)
('Africa/Bangui', 46)
('Africa/Casablanca', 46)
('Africa/Dar_es_Salaam', 322)
('Africa/Freetown', 46)
('Africa/Gaborone', 552)
('Africa/Harare', 92)
('Africa/Johannesburg', 460)
('Africa/Khartoum', 92)
('Africa/Lagos', 276)
('Africa/Luanda', 46)
('Africa/Lusaka', 138)
('Africa/Maputo', 138)
('Africa/Mogadishu', 92)
('Africa/Nairobi', 736)
('Africa/Ndjamena', 46)
('Africa/Nouakchott', 46)
('Africa/Tripoli', 138)
('Africa/Windhoek', 184)
('America/Anchorage', 3772)
('America/Belize', 368)
('America/Boa_Vista', 138)
('America/Bogota', 138)
('America/Caracas', 138)
('America/Cayenne', 690)
('America/Chicago', 2209)
('America/Cordoba', 506)
('America/Curacao', 46)
('America/Danmarkshavn', 46)
('America/Denver', 736)
('America/Edmonton', 506)
('America/Fortaleza', 138)
('America/Godthab', 92)
('America/Guatemala', 46)
('America/Guayaquil', 92)
('America/Guyana', 46)
('America/Halifax', 92)
('America/Havana', 46)
('America/Jamaica', 46)
('America/La_Paz', 184)
('America/Lima', 184)
('America/Los_Angeles', 2439)
('America/Mazatlan', 92)
('America/Mexico_City', 184)
('America/Montevideo', 138)
('America/Montserrat', 46)
('America/Nassau', 230)
('America/New_York', 7590)
('America/Panama', 460)
('America/Paramaribo', 184)
('America/Phoenix', 184)
('America/Port-au-Prince', 368)
('America/Puerto_Rico', 184)
('America/Santiago', 92)
('America/Sao_Paulo', 92)
('America/St_Kitts', 46)
('America/St_Lucia', 46)
('America/St_Thomas', 92)
('America/Tijuana', 46)
('America/Toronto', 1012)
('America/Vancouver', 1012)
('America/Winnipeg', 230)
('Antarctica/South_Pole', 506)
('Arctic/Longyearbyen', 138)
('Asia/Amman', 46)
('Asia/Ashgabat', 138)
('Asia/Baku', 46)
('Asia/Bangkok', 322)
('Asia/Calcutta', 460)
('Asia/Chongqing', 2530)
('Asia/Colombo', 184)
('Asia/Dhaka', 138)
('Asia/Dubai', 184)
('Asia/Hong_Kong', 368)
('Asia/Irkutsk', 644)
('Asia/Jakarta', 46)
('Asia/Jayapura', 138)
('Asia/Jerusalem', 184)
('Asia/Kabul', 46)
('Asia/Katmandu', 46)
('Asia/Krasnoyarsk', 46)
('Asia/Kuala_Lumpur', 184)
('Asia/Macau', 138)
('Asia/Makassar', 92)
('Asia/Manila', 46)
('Asia/Nicosia', 46)
('Asia/Omsk', 230)
('Asia/Oral', 92)
('Asia/Phnom_Penh', 46)
('Asia/Pyongyang', 184)
('Asia/Qatar', 46)
('Asia/Qyzylorda', 138)
('Asia/Rangoon', 46)
('Asia/Saigon', 230)
('Asia/Seoul', 184)
('Asia/Singapore', 46)
('Asia/Taipei', 322)
('Asia/Tbilisi', 46)
('Asia/Tehran', 46)
('Asia/Tokyo', 736)
('Asia/Ulaanbaatar', 92)
('Asia/Vladivostok', 276)
('Asia/Yakutsk', 138)
('Asia/Yekaterinburg', 92)
('Atlantic/Azores', 46)
('Atlantic/Bermuda', 46)
('Atlantic/Canary', 92)
('Atlantic/Faeroe', 46)
('Atlantic/Reykjavik', 92)
('Atlantic/South_Georgia', 92)
('Atlantic/St_Helena', 46)
('Atlantic/Stanley', 138)
('Australia/Adelaide', 138)
('Australia/Brisbane', 368)
('Australia/Darwin', 46)
('Australia/Hobart', 138)
('Australia/Perth', 138)
('Australia/Sydney', 92)
('Europe/Amsterdam', 690)
('Europe/Athens', 230)
('Europe/Berlin', 2944)
('Europe/Brussels', 460)
('Europe/Bucharest', 230)
('Europe/Budapest', 138)
('Europe/Chisinau', 46)
('Europe/Copenhagen', 92)
('Europe/Dublin', 276)
('Europe/Istanbul', 184)
('Europe/Kiev', 92)
('Europe/Lisbon', 184)
('Europe/London', 1932)
('Europe/Madrid', 460)
('Europe/Malta', 230)
('Europe/Monaco', 46)
('Europe/Moscow', 966)
('Europe/Oslo', 322)
('Europe/Paris', 1104)
('Europe/Prague', 138)
('Europe/Rome', 828)
('Europe/Stockholm', 506)
('Europe/Vienna', 460)
('Europe/Warsaw', 92)
('Europe/Zagreb', 46)
('Europe/Zurich', 552)
('Indian/Antananarivo', 92)
('Indian/Mahe', 46)
('Indian/Maldives', 1288)
('Pacific/Apia', 46)
('Pacific/Auckland', 230)
('Pacific/Efate', 46)
('Pacific/Fiji', 46)
('Pacific/Guadalcanal', 46)
('Pacific/Honolulu', 230)
('Pacific/Majuro', 368)
('Pacific/Pago_Pago', 46)
('Pacific/Palau', 92)
('Pacific/Port_Moresby', 644)
('Pacific/Truk', 46)
('\\N', 1518)

In [30]:
# It's always a good idea to close our connections when we're done
cursor.close()
con.close()

## Goal 5: Transfering from sqlite to pandas

In [31]:
import pandas as pd

pd_con = sqlite3.connect("data/flights.db")
df = pd.read_sql_query("select * from airports limit 5;", pd_con)
df

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby

**Task**: 
Convert one of the earlier queries in the lesson to a pandas data frame

In [32]:
# Which countries have the highest amount of active airports?
sql = '''
SELECT country, active 
FROM (select country, count(active) as active
from airlines
where active = 'Y'
group by country) order by active desc;

'''
pd.read_sql_query(sql, pd_con)

                  country  active
0           United States     141
1                  Russia      72
2          United Kingdom      40
3                 Germany      37
4                  Canada      34
..                    ...     ...
190  Syrian Arab Republic       1
191                  Togo       1
192   Trinidad and Tobago       1
193          Turkmenistan       1
194               Vanuatu       1

[195 rows x 2 columns]

In [33]:
pd_con.close()

## Integration

The [Chinook database](https://github.com/lerocha/chinook-database) is a sample database, representing a digital media store.

You need to create a query that can rank tracks in term of popularity.

The name of the database is `Chinook_Sqlite.sqlite`

Database information:<br>
- How many tables are in the database?
- What's the primary key of each table?
- What foreign keys join the tables together?
- If you had to draw a schema of how the tables are connected, what would it look like?

To answer the question:<br>
- What are the max and min dates in the Invoice table?
- What tables would you need to answer "what is your most popular track?"
- What values from each table?

In [34]:
conn = sqlite3.connect('data/Chinook_Sqlite.sqlite')
cur = conn.cursor()

### How many tables are in the database?

In [35]:
# How many tables are in the database?

cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
len(cur.fetchall())

11

In [36]:
#the tables are:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
cur.fetchall()

[('Album',),
 ('Artist',),
 ('Customer',),
 ('Employee',),
 ('Genre',),
 ('Invoice',),
 ('InvoiceLine',),
 ('MediaType',),
 ('Playlist',),
 ('PlaylistTrack',),
 ('Track',)]

### What's the primary key of each table?

In [37]:
# What's the primary key of each table?

cur.execute("PRAGMA table_info(Album)")
cur.description

# Pk is the last element, can either reference it as .pk or read it

(('cid', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('type', None, None, None, None, None, None),
 ('notnull', None, None, None, None, None, None),
 ('dflt_value', None, None, None, None, None, None),
 ('pk', None, None, None, None, None, None))

Pk is the last element, can either reference it as .pk or read it

In [38]:
#code to find out just the primary key
cur.execute('SELECT l.name FROM pragma_table_info("Album") as l WHERE l.pk = 1;')
info1 = cur.fetchall()
print("Primany key for table Album =",info1)
cur.execute('SELECT l.name FROM pragma_table_info("Artist") as l WHERE l.pk = 1;')
info2 = cur.fetchall()
print("Primany key for table Artist =",info2)
cur.execute('SELECT l.name FROM pragma_table_info("Customer") as l WHERE l.pk = 1;')
info3 = cur.fetchall()
print("Primany key for table Customer =",info3)
cur.execute('SELECT l.name FROM pragma_table_info("Employee") as l WHERE l.pk = 1;')
info4 = cur.fetchall()
print("Primany key for table Employee =",info4)
cur.execute('SELECT l.name FROM pragma_table_info("Genre") as l WHERE l.pk = 1;')
info5 = cur.fetchall()
print("Primany key for table Genre =",info5)
cur.execute('SELECT l.name FROM pragma_table_info("Invoice") as l WHERE l.pk = 1;')
info6 = cur.fetchall()
print("Primany key for table Invoice =",info6)
cur.execute('SELECT l.name FROM pragma_table_info("InvoiceLine") as l WHERE l.pk = 1;')
info7 = cur.fetchall()
print("Primany key for table InvoiceLine =",info7)
cur.execute('SELECT l.name FROM pragma_table_info("MediaType") as l WHERE l.pk = 1;')
info8 = cur.fetchall()
print("Primany key for table MediaType =",info8)
cur.execute('SELECT l.name FROM pragma_table_info("PlayList") as l WHERE l.pk = 1;')
info9 = cur.fetchall()
print("Primany key for table PlayList =",info9)
cur.execute('SELECT l.name FROM pragma_table_info("PlaylistTrack") as l WHERE l.pk = 1;')
info10 = cur.fetchall()
print("Primany key for table PlaylistTrack =",info10)
cur.execute('SELECT l.name FROM pragma_table_info("Track") as l WHERE l.pk = 1;')
info11 = cur.fetchall()
print("Primany key for table Track =",info11)

Primany key for table Album = [('AlbumId',)]
Primany key for table Artist = [('ArtistId',)]
Primany key for table Customer = [('CustomerId',)]
Primany key for table Employee = [('EmployeeId',)]
Primany key for table Genre = [('GenreId',)]
Primany key for table Invoice = [('InvoiceId',)]
Primany key for table InvoiceLine = [('InvoiceLineId',)]
Primany key for table MediaType = [('MediaTypeId',)]
Primany key for table PlayList = [('PlaylistId',)]
Primany key for table PlaylistTrack = [('PlaylistId',)]
Primany key for table Track = [('TrackId',)]

In [39]:
#AlbumID
cur.execute('pragma table_info("Album")')
info1 = cur.fetchall()
print("Album",info1)

Album [(0, 'AlbumId', 'INTEGER', 1, None, 1), (1, 'Title', 'NVARCHAR(160)', 1, None, 0), (2, 'ArtistId', 'INTEGER', 1, None, 0)]

In [40]:
#ArtistID
cur.execute('pragma table_info("Artist")')
info2 = cur.fetchall()
print("Artist", info2)

Artist [(0, 'ArtistId', 'INTEGER', 1, None, 1), (1, 'Name', 'NVARCHAR(120)', 0, None, 0)]

In [41]:
#customerid
cur.execute('pragma table_info("Customer")')
info3 = cur.fetchall()
print("Customer", info3)

Customer [(0, 'CustomerId', 'INTEGER', 1, None, 1), (1, 'FirstName', 'NVARCHAR(40)', 1, None, 0), (2, 'LastName', 'NVARCHAR(20)', 1, None, 0), (3, 'Company', 'NVARCHAR(80)', 0, None, 0), (4, 'Address', 'NVARCHAR(70)', 0, None, 0), (5, 'City', 'NVARCHAR(40)', 0, None, 0), (6, 'State', 'NVARCHAR(40)', 0, None, 0), (7, 'Country', 'NVARCHAR(40)', 0, None, 0), (8, 'PostalCode', 'NVARCHAR(10)', 0, None, 0), (9, 'Phone', 'NVARCHAR(24)', 0, None, 0), (10, 'Fax', 'NVARCHAR(24)', 0, None, 0), (11, 'Email', 'NVARCHAR(60)', 1, None, 0), (12, 'SupportRepId', 'INTEGER', 0, None, 0)]

In [42]:
#EmployeeId
cur.execute('pragma table_info("Employee")')
info4 = cur.fetchall()
print("Employee", info4)

Employee [(0, 'EmployeeId', 'INTEGER', 1, None, 1), (1, 'LastName', 'NVARCHAR(20)', 1, None, 0), (2, 'FirstName', 'NVARCHAR(20)', 1, None, 0), (3, 'Title', 'NVARCHAR(30)', 0, None, 0), (4, 'ReportsTo', 'INTEGER', 0, None, 0), (5, 'BirthDate', 'DATETIME', 0, None, 0), (6, 'HireDate', 'DATETIME', 0, None, 0), (7, 'Address', 'NVARCHAR(70)', 0, None, 0), (8, 'City', 'NVARCHAR(40)', 0, None, 0), (9, 'State', 'NVARCHAR(40)', 0, None, 0), (10, 'Country', 'NVARCHAR(40)', 0, None, 0), (11, 'PostalCode', 'NVARCHAR(10)', 0, None, 0), (12, 'Phone', 'NVARCHAR(24)', 0, None, 0), (13, 'Fax', 'NVARCHAR(24)', 0, None, 0), (14, 'Email', 'NVARCHAR(60)', 0, None, 0)]

In [43]:
#GenreID
cur.execute('pragma table_info("Genre");')
info5 = cur.fetchall()
print("Genre", info5)

Genre [(0, 'GenreId', 'INTEGER', 1, None, 1), (1, 'Name', 'NVARCHAR(120)', 0, None, 0)]

In [44]:
#InvoiceId
cur.execute('pragma table_info("Invoice");')
info6 = cur.fetchall()
print("Invoice", info6)

Invoice [(0, 'InvoiceId', 'INTEGER', 1, None, 1), (1, 'CustomerId', 'INTEGER', 1, None, 0), (2, 'InvoiceDate', 'DATETIME', 1, None, 0), (3, 'BillingAddress', 'NVARCHAR(70)', 0, None, 0), (4, 'BillingCity', 'NVARCHAR(40)', 0, None, 0), (5, 'BillingState', 'NVARCHAR(40)', 0, None, 0), (6, 'BillingCountry', 'NVARCHAR(40)', 0, None, 0), (7, 'BillingPostalCode', 'NVARCHAR(10)', 0, None, 0), (8, 'Total', 'NUMERIC(10,2)', 1, None, 0)]

In [45]:
#InvoiceLineId
cur.execute('pragma table_info("InvoiceLine");')
info7 = cur.fetchall()
print("InvoiceLineID", info7)

InvoiceLineID [(0, 'InvoiceLineId', 'INTEGER', 1, None, 1), (1, 'InvoiceId', 'INTEGER', 1, None, 0), (2, 'TrackId', 'INTEGER', 1, None, 0), (3, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0), (4, 'Quantity', 'INTEGER', 1, None, 0)]

In [46]:
#MediaTypeId
cur.execute('pragma table_info("MediaType");')
info8 = cur.fetchall()
print("MediaType", info8)

MediaType [(0, 'MediaTypeId', 'INTEGER', 1, None, 1), (1, 'Name', 'NVARCHAR(120)', 0, None, 0)]

In [47]:
#PlaylistId
cur.execute('pragma table_info("PlayList");')
info9 = cur.fetchall()
print("PlayList", info9)

PlayList [(0, 'PlaylistId', 'INTEGER', 1, None, 1), (1, 'Name', 'NVARCHAR(120)', 0, None, 0)]

In [48]:
#PlayListId
cur.execute('pragma table_info("PlaylistTrack");')
info10 = cur.fetchall()
print("PlayListTrack", info10)

PlayListTrack [(0, 'PlaylistId', 'INTEGER', 1, None, 1), (1, 'TrackId', 'INTEGER', 1, None, 2)]

In [49]:
#TrackId
cur.execute('pragma table_info("Track");')
info11 = cur.fetchall()
print("Track", info11)

Track [(0, 'TrackId', 'INTEGER', 1, None, 1), (1, 'Name', 'NVARCHAR(200)', 1, None, 0), (2, 'AlbumId', 'INTEGER', 0, None, 0), (3, 'MediaTypeId', 'INTEGER', 1, None, 0), (4, 'GenreId', 'INTEGER', 0, None, 0), (5, 'Composer', 'NVARCHAR(220)', 0, None, 0), (6, 'Milliseconds', 'INTEGER', 1, None, 0), (7, 'Bytes', 'INTEGER', 0, None, 0), (8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)]

### What foreign keys join the tables together?

In [50]:
# What foreign keys join the tables together?
cur.execute('PRAGMA foreign_key_list(Album);')
cur.description

# your code here
# hint: use "PRAGMA foreign_key_list()"
#id          seq         table       from        to          on_update   on_delete   match

(('id', None, None, None, None, None, None),
 ('seq', None, None, None, None, None, None),
 ('table', None, None, None, None, None, None),
 ('from', None, None, None, None, None, None),
 ('to', None, None, None, None, None, None),
 ('on_update', None, None, None, None, None, None),
 ('on_delete', None, None, None, None, None, None),
 ('match', None, None, None, None, None, None))

As can be seen above the 4th element is the foreign key linking to table that is the 3rd element by table key that is 5th element

In [51]:
info = cur.fetchall()
print(info)

[(0, 0, 'Artist', 'ArtistId', 'ArtistId', 'NO ACTION', 'NO ACTION', 'NONE')]

In [52]:
#no foreign key in Artist
cur.execute('PRAGMA foreign_key_list(Artist);')
info = cur.fetchall()
print(info)

[]

In [53]:
#foreign is SupportRepId for customer table
cur.execute('PRAGMA foreign_key_list(Customer);')
info = cur.fetchall()
print(info)

[(0, 0, 'Employee', 'SupportRepId', 'EmployeeId', 'NO ACTION', 'NO ACTION', 'NONE')]

In [54]:
#foreign is ReportsTo for Employee table
cur.execute('PRAGMA foreign_key_list(Employee);')
info = cur.fetchall()
print(info)

[(0, 0, 'Employee', 'ReportsTo', 'EmployeeId', 'NO ACTION', 'NO ACTION', 'NONE')]

In [55]:
#no foreign in Genre table
cur.execute('PRAGMA foreign_key_list(Genre);')
info = cur.fetchall()
print(info)

[]

In [56]:
#Foreign key is CustomerId in Invoice table
cur.execute('PRAGMA foreign_key_list(Invoice);')
info = cur.fetchall()
print(info)

[(0, 0, 'Customer', 'CustomerId', 'CustomerId', 'NO ACTION', 'NO ACTION', 'NONE')]

In [57]:
#no foreign key in InvoiceLineID table
cur.execute('PRAGMA foreign_key_list(InvoiceLineID);')
info = cur.fetchall()
print(info)

[]

In [58]:
#no foreign key in MediaType table
cur.execute('PRAGMA foreign_key_list(MediaType);')
info = cur.fetchall()
print(info)

[]

In [59]:
#no foreign key in PlayList table
cur.execute('PRAGMA foreign_key_list(PlayList);')
info = cur.fetchall()
print(info)

[]

In [60]:
#no foreign key in MediaType table
cur.execute('PRAGMA foreign_key_list(PlayListTrack);')
info = cur.fetchall()
print(info)

[(0, 0, 'Track', 'TrackId', 'TrackId', 'NO ACTION', 'NO ACTION', 'NONE'), (1, 0, 'Playlist', 'PlaylistId', 'PlaylistId', 'NO ACTION', 'NO ACTION', 'NONE')]

In [61]:
#Foreign keys are MediaTypeId, GenreId,  and AlbumId
cur.execute('PRAGMA foreign_key_list(Track);')
info = cur.fetchall()
print(info)

[(0, 0, 'MediaType', 'MediaTypeId', 'MediaTypeId', 'NO ACTION', 'NO ACTION', 'NONE'), (1, 0, 'Genre', 'GenreId', 'GenreId', 'NO ACTION', 'NO ACTION', 'NONE'), (2, 0, 'Album', 'AlbumId', 'AlbumId', 'NO ACTION', 'NO ACTION', 'NONE')]

In [62]:
#cur.execute('select * from invoice;')
#cur.fetchall()

In [63]:
#cur.execute('PRAGMA table_info(invoice)')
#cur.fetchall()

### What are the max and min dates in the Invoice table?

In [64]:
# What are the max and min dates in the Invoice table?
sql = '''
SELECT MIN(Invoicedate) as MinInvoiceDate, 
       MAX(Invoicedate) AS MaxinvoiceDate
FROM Invoice ;
'''
pd.read_sql_query(sql, conn)

        MinInvoiceDate       MaxinvoiceDate
0  2009-01-01 00:00:00  2013-12-22 00:00:00

## What tables would you need to answer "what is your most popular track?"

Track table and invoice table can be used to find out the most popular track

## What values from each table?
Quantity sold can be used to find out which track is popular.

In [65]:
# cur.execute('pragma table_info("Track");')
# info7 = cur.fetchall()
# print("Track", info7)

In [66]:
# cur.execute('pragma table_info("Album");')
# info7 = cur.fetchall()
# print("Track", info7)

In [67]:
# cur.execute('pragma table_info("Artist");')
# info7 = cur.fetchall()
# print("Track", info7)

In [68]:
# cur.execute('pragma table_info("InvoiceLine");')
# info7 = cur.fetchall()
# print("InvoiceLineID", info7)

### # Put it all together:
### You need to create a query that can rank tracks in term of popularity.

Price, name, trackid from track table and
Unit price and quantity from invoice table

In [69]:
import pandas as pd
# Put it all together:
# You need to create a query that can rank tracks in term of popularity.

sql = '''select name, Quantity, TotalValue from
(SELECT Name, sum(il.Quantity) as Quantity, sum(il.Quantity*il.unitprice) as TotalValue
FROM Track T INNER JOIN InvoiceLine il
    ON il.TrackId = T.TrackId group by Name) order by Quantity desc;
'''
pd.read_sql_query(sql, conn)

                                                 Name  Quantity  TotalValue
0                                         The Trooper         5        4.95
1                                            Eruption         4        3.96
2                                Hallowed Be Thy Name         4        3.96
3                                 Sure Know Something         4        3.96
4                             The Number Of The Beast         4        3.96
...                                               ...       ...         ...
1883                                      Água E Fogo         1        0.99
1884                                    Água de Beber         1        0.99
1885                                           É Fogo         1        0.99
1886  Étude 1, In C Major - Preludio (Presto) - Liszt         1        0.99
1887                                           Óculos         1        0.99

[1888 rows x 3 columns]

### Advanced: get the artist who sang the song!

In [70]:
# Advanced: get the artist who sang the song!
sql = '''
select artist.name as ArtistName, album.title as AlbumTitle, Track.Name as TrackName
from artist
     inner join album on album.artistid = artist.artistid
     inner join Track on Track.albumid = album.albumid
where Track.name = 'The Trooper'

'''
pd.read_sql_query(sql, conn)

    ArtistName                       AlbumTitle    TrackName
0  Iron Maiden                  A Real Dead One  The Trooper
1  Iron Maiden                 Live After Death  The Trooper
2  Iron Maiden  Live At Donington 1992 (Disc 2)  The Trooper
3  Iron Maiden                    Piece Of Mind  The Trooper
4  Iron Maiden                Rock In Rio [CD1]  The Trooper

#### GROUP BY

- Group columns by similar values
- SELECT COUNT(id), city from students GROUP BY city

#### HAVING

- Use to apply filter AFTER a `GROUP BY` based on aggregate criteria 
- `WHERE` is applied for conditions prior to the `GROUP BY`, `HAVING` is applied afterwards

For example, if we had a table of student names and the courses they were taking, we could ask a question such as which classes have 3 or more students with the name Matt?

Such a query would look something like this:

```SQL
SELECT
  class,
  COUNT(student_name) AS number_of_alexes
FROM student_courses
WHERE student_name = "Alex"
GROUP BY 1
HAVING COUNT(student_name) >= 2;
```

In [71]:
conn = sqlite3.connect('data/tutorial.db')
c = conn.cursor()

In [72]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")

print(c.fetchall())

[('responses',)]

In [73]:
columns = [x[0] for x in c.execute('select * from responses').description]

In [74]:
columns

['submitted_ts',
 'name',
 'birthday',
 'hometown',
 'fav_food_1',
 'fav_food_2',
 'time_in_dc',
 'siblings_count']

### Questions
1. What are the names of all of the students?
2. Which student has the most siblings?
3. How many students are only children?
4. Which 3 students have lived in NYC the shortest amount of time?
5. How many students are native New Yorkers?
6. Do any two students have the same favorite food?

1. What are the names of all of the students.

In [75]:
sql = '''
SELECT name
FROM responses;
'''
pd.read_sql_query(sql, conn)

                name
0            Stephen
1            Donna C
2              Muoyo
3         Vyjayanthi
4       Anesu Masube
5   Michael Pallante
6      Stuart Murphy
7      Darian Madere
8               Alex
9      Justin Fleury
10           Nate Lu
11              Nick
12          Jeff Lin
13             Chuck
14       Jill Carrie
15              Alex
16              Nimu

2. Which student has the most siblings?

In [76]:
sql = '''
select name, (siblings_count)
from responses
'''
pd.read_sql_query(sql, conn)

                name  siblings_count
0            Stephen               2
1            Donna C               1
2              Muoyo               1
3         Vyjayanthi               3
4       Anesu Masube               5
5   Michael Pallante               2
6      Stuart Murphy               1
7      Darian Madere               3
8               Alex               1
9      Justin Fleury               1
10           Nate Lu               3
11              Nick              12
12          Jeff Lin               2
13             Chuck               3
14       Jill Carrie               1
15              Alex               1
16              Nimu               1

3. How many students are only children?
Ans: NO children are only children

In [77]:
sql = '''
select name, siblings_count
from responses
where siblings_count = 0
'''
pd.read_sql_query(sql, conn)

Empty DataFrame
Columns: [name, siblings_count]
Index: []

4. Which 3 students have lived in NYC the shortest amount of time? (How long has each lived in NYC?)
 <br /> 
Ans: time_nyc not provided, but time_dc is provided. Therefore to query for shortest time lived in DC

In [78]:
sql = '''
SELECT name, time_in_dc
FROM responses a 
WHERE  3 >= (SELECT count(time_in_dc)
FROM responses b 
WHERE b.time_in_dc <= a.time_in_dc )
ORDER BY a.time_in_dc DESC;
'''
pd.read_sql_query(sql, conn)

      name  time_in_dc
0  Stephen         0.0
1    Muoyo         0.0
2     Alex         0.0

5. How many students are native New Yorkers?

In [79]:
sql = '''
select name, hometown
from responses
where hometown like '%N%Y'
'''
pd.read_sql_query(sql, conn)

    name      hometown
0  Muoyo  Brooklyn, NY
1   Nimu     Nyack, NY

In [80]:
#for Washington DC
sql = '''
select name, hometown
from responses
where hometown like '%D%C'
'''
pd.read_sql_query(sql, conn)

            name        hometown
0  Justin Fleury  Washington, DC
1        Nate Lu  Washington, DC

6. Do any two students have the same favorite food?

This problem employs the `Having` clause.  Be sure to review the difference between the where and having clause here. (Where filters apply before the group by clause and conditions following the having clause are filters applied after the group by on the resulting aggregate [statistics].) A useful example in doing so, could be to modify the question to something with an additional filtering criterion such as 'do any native new yorkers have the same favorite food?' This would force students to use a where clause prior to the group by to filter the results. Alternatively, see the question below for an alternative but related problem on favorite foods.

In [81]:
sql = '''
SELECT Name, fav_food_2 as fav_food
FROM responses 
WHERE upper(fav_food_2) IN (
SELECT upper(fav_food_2)
FROM responses
GROUP BY upper(fav_food_2)
HAVING COUNT(*) > 1)

Union

SELECT Name, fav_food_1 as fav_food
FROM responses 
WHERE upper(fav_food_1) IN (
SELECT upper(fav_food_1)
FROM responses
GROUP BY upper(fav_food_1)
HAVING COUNT(*) > 1)

Union

SELECT distinct Name, fav_food_1 as fav_food
FROM responses
WHERE fav_food_1 IN
(
SELECT fav_food_2
FROM responses
GROUP BY upper(fav_food_2)
HAVING COUNT(*) > 0
)

Union

SELECT distinct Name, fav_food_2 as fav_food
FROM responses
WHERE fav_food_2 IN
(
SELECT fav_food_1
FROM responses
GROUP BY upper(fav_food_1)
HAVING COUNT(*) > 0
)
'''
pd.read_sql_query(sql, conn)

               name fav_food
0     Darian Madere    sushi
1           Donna C    sushi
2       Jill Carrie    Sushi
3       Jill Carrie     Thai
4  Michael Pallante    Pasta
5  Michael Pallante    Pizza
6             Muoyo     Thai
7           Stephen    pizza
8        Vyjayanthi    Pasta

In [82]:
# sql = ''' SELECT name, fav_food_1, fav_food_2
# FROM responses

# '''
# pd.read_sql_query(sql, conn)

## More Questions

What are the favorite foods of this classroom?

In [83]:
sql = '''
SELECT fav_food_1 as fav_food
FROM responses
WHERE fav_food_1 IS NOT NULL
UNION
SELECT fav_food_2
FROM responses
WHERE fav_food_2 IS NOT NULL;

'''
pd.read_sql_query(sql, conn)

                                    fav_food
0   A single poached egg on a bed of arugula
1                                      Bacon
2                                      Bread
3                              Buffalo Wings
4                                Carrot cake
5                                     Coffee
6                                 Crab cakes
7                             Dark Chocolate
8                                       Grey
9                                  Ice cream
10                                    Indian
11                                   Lobster
12                                  Nigerian
13                                   Noodles
14                                     Pasta
15                                     Pizza
16                                 Pork Ribs
17                                      Saag
18                                     Sadza
19                                     Steak
20                                     Sushi
21                                      Thai
22                                  Zucchini
23                           beef stroganoff
24                                  brownies
25                                   lasagna
26                                     pizza
27                                    shrimp
28                                     sushi
29                                tater tots

Which student was born closest to the cohort's graduation date (5/29/20)?

In [84]:
sql = '''
select name, b from
   (      select name, min(birthday) as b from 'responses' where birthday >= '5/29'
    union select name, max(birthday) as b from 'responses' where birthday <= '5/29')
    order by abs('5/29'-b) limit 1;
'''
pd.read_sql_query(sql, conn)

            name    b
0  Justin Fleury  5/5